#canvas {
  margin: 0 auto;
  height: 600px;
  /*background-color: #ff;*/
  /*top: 300px;*/
}

#blue-screen, #computer-restart, #slow-computer, #locked-computer, #reversed-text, #not-responding,
#suspicious-email, #browser-popup, #win32-gif, #win32-png, #desktop-popup, #os-error,
#infected-disk-gif, #infected-disk-png, #infected-file, #malicious-programs, #browser-toolbar,
#no-start-programs, #unknown-exe{
  position: absolute;
  top: 0;
  left: 0;
  height: 600px;
}

#desktop {
  height: 600px;
}

#activity-container {
  margin: 0 auto;
  /*top: 150px;*/
  transform: translate(-50%, -50%);
  position: absolute;
  /*top: 65%;*/
  top: 560px;
  left: 50%;
  padding-bottom: 50px;
}

.symptoms {
  padding-top: 20px;
  margin: 0 auto;
}

.custom-symp {
  background: #ffe1a8;
  width: 19.7%;
  height: 50px;
  color: #875315;
  border: 1px solid #efd197;
  letter-spacing: .5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin-bottom: 5px;
}

.custom-close i{
  color: #875315;
  line-height: 0px;
  margin-top: 15px;
}

.localStorageData {
  width: 80%;
}

.symp-select {
  background: #ffe1a8;
  width: 19.7%;
  height: 50px;
  color: #875315;
  border: 1px solid #efd197;
  letter-spacing: .5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin-bottom: 5px;
}

.symp-select:hover {
  background-color: #ffebc5;
}

.bigger-btn {
  width: 39.7%;
}

.bold-btn {
  font-weight: bold;
}

#computer-crash-btn.active, #computer-restart-btn.active, #slow-computer-btn.active,
#locked-computer-btn.active, #reversed-text-btn.active, #not-responding-btn.active,
#suspicious-email-btn.active, #browser-popup-btn.active, #win32-btn.active,
#desktop-popup-btn.active, #os-error-btn.active, #infected-storage-btn.active,
#infected-file-btn.active, #malicious-programs-btn.active, #browser-toolbar-btn.active,
#no-start-programs-btn.active, #unknown-exe-btn.active {
  background-color: #fdcd71;
}

#full-width-btn {
  width: 100%;
}

.center-save {
  text-align: center;
}
