<div class="header">
	Online Safety and Security Activity
</div>

<div class="center">
  <div id="activity-container">

    <div id="canvas">
      <img id="infected-file" src="images/activity/infected-file.png">
      <img id="malicious-programs" src="images/activity/malicious-programs.png">
      <img id="win32-png" src="images/activity/win-32.png">

      <img id="infected-disk-gif" src="images/activity/infected-disk.gif">
      <img id="infected-disk-png" src="images/activity/infected-disk-drive.png">

      <img id="desktop-popup" src="images/activity/desktop-popup.gif">
      <img id="os-error" src="images/activity/os-error.gif">

      <img id="win32-gif" src="images/activity/win-32-error.gif">
      <img id="browser-popup" src="images/activity/browser-popup.gif">
      <img id="suspicious-email" src="images/activity/suspicious-email.gif">
      <img id="not-responding" src="images/activity/not-responding.gif">
      <img id="reversed-text" src="images/activity/reversed-text.gif">

      <img id="browser-toolbar" src="images/activity/browser-toolbar.gif">
      <img id="no-start-programs" src="images/activity/not-starting.gif">
      <img id="unknown-exe" src="images/activity/unknown-exe.gif">

      <img id="locked-computer" src="images/activity/locked-computer.png">
      <img id="slow-computer" src="images/activity/slow-computer.png">
      <img id="computer-restart" src="images/activity/computer-restart.gif">
      <img id="blue-screen" src="images/activity/blue-screen.gif">

      <img id="desktop" src="images/activity/desktop.png">
    </div>

    <div class="symptoms">
      <div id="computer-crash-btn" class="symp-select" ng-click="showBlueScreen()">Computer crash</div>
      <div id="computer-restart-btn" class="symp-select" ng-click="showComputerRestart()">Computer restart</div>
      <div id="slow-computer-btn" class="symp-select" ng-click="showSlowComputer()">Slow performance</div>
      <div id="locked-computer-btn" class="symp-select" ng-click="showLockedComputer()">Locked computer</div>
      <div id="reversed-text-btn" class="symp-select" ng-click="showReversedText()">Reversed text</div>
      <div id="not-responding-btn" class="symp-select" ng-click="showNotResponding()">Not responding</div>
      <div id="suspicious-email-btn" class="symp-select" ng-click="showSuspiciousEmail()">Downloading email files</div>
      <div id="browser-popup-btn" class="symp-select" ng-click="showBrowserPopup()">Browser pop-up</div>
      <div id="win32-btn" class="symp-select" ng-click="showWin32Error()">Win32 Error</div>
      <div id="desktop-popup-btn" class="symp-select" ng-click="showDesktopPopup()">Desktop pop-up</div>
      <div id="os-error-btn" class="symp-select" ng-click="showOSError()">OS Errors</div>
      <div id="infected-storage-btn" class="symp-select" ng-click="showInfectedStorage()">Infected storage</div>
      <div id="infected-file-btn" class="symp-select" ng-click="showInfectedFiles()">Infected files</div>
      <div id="malicious-programs-btn" class="symp-select" ng-click="showMaliciousPrograms()">Malicious programs</div>

      <div id="browser-toolbar-btn" class="symp-select" ng-click="showBrowserToolbar()">Browser Toolbar</div>
      <div id="no-start-programs-btn" class="symp-select" ng-click="showNoStartProgram()">Programs not starting</div>
      <div id="unknown-exe-btn" class="symp-select" ng-click="showUnknownExe()">Unknown exe running</div>

      <div class="bold-btn symp-select" ng-click="clearSymptom()">Clear all symptoms</div>
      <div class="bigger-btn bold-btn symp-select" ng-click="showAnswers()">View possible answers</div>

      <br><br>
      <div id="full-width-btn" class="bold-btn symp-select" ng-click="openCustom()">Custom Combination</div>

      <div class="custom-symp symp-select">
        <div id="localStorageData0" class="col-xs-10 localStorageData" ng-click="playCustom(0)"> - </div>
        <div class="col-xs-2">
          <a class="custom-close" ng-click="clearCustom(0)">
            <i class="fa fa-times"></i>
          </a>
        </div>
        <div class="col-xs-2">
          <a class="custom-close" ng-click="showAnswer(0)">
            <i class="fa fa-eye"></i>
          </a>
        </div>
      </div>

      <div class="custom-symp symp-select">
        <div id="localStorageData1" class=" col-xs-10 localStorageData" ng-click="playCustom(1)"> - </div>
        <div class="col-xs-2">
          <a class="custom-close" ng-click="clearCustom(1)">
            <i class="fa fa-times"></i>
          </a>
        </div>
        <div class="col-xs-2">
          <a class="custom-close" ng-click="showAnswer(1)">
            <i class="fa fa-eye"></i>
          </a>
        </div>
      </div>

      <div class="custom-symp symp-select">
        <div id="localStorageData2" class=" col-xs-10 localStorageData" ng-click="playCustom(2)"> - </div>
        <div class="col-xs-2">
          <a class="custom-close" ng-click="clearCustom(2)">
            <i class="fa fa-times"></i>
          </a>
        </div>
        <div class="col-xs-2">
          <a class="custom-close" ng-click="showAnswer(2)">
            <i class="fa fa-eye"></i>
          </a>
        </div>
      </div>

      <div class="custom-symp symp-select">
        <div id="localStorageData3" class=" col-xs-10 localStorageData" ng-click="playCustom(3)"> - </div>
        <div class="col-xs-2">
          <a class="custom-close" ng-click="clearCustom(3)">
            <i class="fa fa-times"></i>
          </a>
        </div>
        <div class="col-xs-2">
          <a class="custom-close" ng-click="showAnswer(3)">
            <i class="fa fa-eye"></i>
          </a>
        </div>
      </div>

      <div class="custom-symp symp-select">
        <div id="localStorageData4" class=" col-xs-10 localStorageData" ng-click="playCustom(4)"> - </div>
        <div class="col-xs-2">
          <a class="custom-close" ng-click="clearCustom(4)">
            <i class="fa fa-times"></i>
          </a>
        </div>
        <div class="col-xs-2">
          <a class="custom-close" ng-click="showAnswer(4)">
            <i class="fa fa-eye"></i>
          </a>
        </div>
      </div>


    </div>

    <div id="footer">
      <button class="prev" ui-sref="netsafe.prevention"> ◀︎ Cyberattack Prevention </button>
      <button class="next" ui-sref="netsafe.main"> End ▶︎ </button>
    </div>

  </div>
</div>

<div class="answer" ng-show="answered">
  <div class="help-modal">
    <div class="help-header">
      Possible Scenarios
      <a class="close" ng-click="showAnswers()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      {{answer}}
    </div>
  </div>
</div>

<div class="custom" ng-show="custom">
  <div class="help-modal">
    <div class="help-header">
      Custom Combination
      <a class="close" ng-click="openCustom()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">

      <form id="activity-form">

        <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label"><b>Name</b></label>
          <div class="col-sm-10">
            <input data-ng-model="name" class="form-control" type="text" id="name">
          </div>
        </div>

        <b>Symptoms</b> <br>

        <!-- <div ng-app="Netsafe" ng-controller="activityController">
          <div ng-repeat="checkbox in checkboxData" class="form-check form-check-inline col-sm-4">
            <label>
              <input type="checkbox" ng-model="checkbox.checked"/>
              {{checkbox.name}}
            </label>
          </div>
        </div> -->
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="1"> Computer Crash
          </label>
        </div>
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="2"> Computer Restart
          </label>
        </div>
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="3"> Slow Performance
          </label>
        </div>

        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="4"> Locked Computer
          </label>
        </div>
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="5"> Reversed Text
          </label>
        </div>
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="6"> Not Responding
          </label>
        </div>

        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="7"> Downloading Email Files
          </label>
        </div>
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="8"> Browser Pop-up
          </label>
        </div>
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="9"> Win32 Error
          </label>
        </div>

        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="10"> Desktop Pop-up
          </label>
        </div>
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="11"> OS Errors
          </label>
        </div>
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="12"> Infected Storage
          </label>
        </div>

        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="13"> Infected Files
          </label>
        </div>
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="14"> Malicious Programs
          </label>
        </div>
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="15"> Browser Toolbar
          </label>
        </div>

        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="16"> Programs Not Starting
          </label>
        </div>
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="17"> Unknown Exe running
          </label>
        </div>

        <div class="col-sm-4"> <p style="color: #F1FBEE;"> for spacing </p></div>

        <br><br><br><br><br><br><br><br><br>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><b>Answer</b></label>
          <div class="col-sm-10">
            <input data-ng-model="answer" class="form-control" type="text" id="answer">
          </div>
        </div>


        <div class="center-save">
          <div class="form-group row">
            <div class="col-sm-12">
              <button id="add" type="submit" class="btn" ng-click="addCustom()"><b>Save</b></button>
            </div>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>

<div class="help" ng-show="clicked">
	<div class="help-modal">
		<div class="help-header">
			<i class="fa fa-question-circle-o"></i> Online Safety and Security Activity
			<a class="close" ng-click="clickHelp()">
        <i class="fa fa-times"></i>
      </a>
		</div>
		<div class="help-content">

      <div class="sub-topic">
        <div class="malwr-help-btn" id="malwr-help-btn-1" ng-click="showHelpTab(1)">Malware</div>
        <div class="malwr-help-btn" id="malwr-help-btn-2" ng-click="showHelpTab(2)">Virus</div>
        <div class="malwr-help-btn" id="malwr-help-btn-3" ng-click="showHelpTab(3)">Trojan Horse</div>
        <div class="malwr-help-btn" id="malwr-help-btn-4" ng-click="showHelpTab(4)">Worms</div>
        <div class="malwr-help-btn" id="malwr-help-btn-5" ng-click="showHelpTab(5)">Adware</div>
        <div class="malwr-help-btn" id="malwr-help-btn-6" ng-click="showHelpTab(6)">Spyware</div>
        <div class="malwr-help-btn" id="malwr-help-btn-7" ng-click="showHelpTab(7)">Keylogger</div>
        <div class="malwr-help-btn" id="malwr-help-btn-8" ng-click="showHelpTab(8)">Ransomware</div>
      </div>
      <div class="sub-topic">
        <div class="malwr-help-btn" id="malwr-help-btn-9" ng-click="showHelpTab(9)">Identity Theft</div>
        <div class="malwr-help-btn" id="malwr-help-btn-10" ng-click="showHelpTab(10)">Spam</div>
        <div class="malwr-help-btn" id="malwr-help-btn-11" ng-click="showHelpTab(11)">Phishing</div>
        <div class="malwr-help-btn" id="malwr-help-btn-12" ng-click="showHelpTab(12)">Pharming</div>
        <div class="malwr-help-btn" id="malwr-help-btn-13" ng-click="showHelpTab(13)">Rogue Security Software</div>
        <div class="malwr-help-btn" id="malwr-help-btn-14" ng-click="showHelpTab(14)">Cyberattack Prevention</div>
      </div>
      <br>

      <div id="tab-help-content-1" class="tab-help-content">
        <b>Malware</b> is an abbreviated term which refers to any malicious software that is written to
        specifically harm and infect the system. A malware is loaded into the computer that interferes
        with computer operations. A malware can be obtained through sharing various files with other users,
        visiting an infected website, opening spam email or an email attachment, downloading various things
        from unknown developers or installing software applications without fully reading license agreements.

        <blockquote>
          Symptoms of malware:
          <ul>
            <li> - slow computer performance
            <li> - irregular computer behavior
            <li> - random pop-ups
            <li> - suspicious hard drive activity
            <li> - running out of hard drive space
            <li> - new browser layout and toolbars
            <li> - unexplained data loss and or frequent computer crashes.
          </ul>
        </blockquote>

        <blockquote>
          Ways to prevent malware infection:
          <ul>
            <li> - install a security software and always keep your software up-to-date.
            <li> - update your operating system regularly
            <li> - practicing safe web usage
            <li> - Increase your browser security settings and avoid questionable websites.
            <li> - only download software from websites and developers you can trust.
            <li> - Always think twice before downloading free softwares and file-sharing applications.
          </ul>
        </blockquote>
        <div class="sub-topic">
          <div class="malwr-help-btn" ui-sref="netsafe.malware">Go to Malwares</div>
        </div>
      </div>

      <div id="tab-help-content-2" class="tab-help-content">
        A <b>virus</b> is one type of malware but the term ‘virus’ is more widely used by the public.
        It can do numerous things on your computer, depending on how they are programmed.
        Some viruses can damage programs, delete files, creating malicious files or even reformatting
        the hard drive. Others can replicate itself, flood a network with traffic thus making
        it difficult to use the internet or even cause frequent computer crashes. (“Computer Virus, n.d.”)

        <blockquote>
          Symptoms of virus:
          <ul>
            <li>- Slow computer performance
            <li>- Programs/applications wont start
            <li>- Computer reboots on its own
            <li>- Computer restarts continuously
            <li>- Computer lock ups frequently
            <li>- Freezing/ crashing/ not responding
            <li>- texts not printing correctly
            <li>- Disk drives or disks become inaccessible
            <li>- Missing files/ modified files/ infected files
            <li>- OS errors or system errors
            <li>- Appearance of strange desktop files
            <li>- Software not installed by the user
            <li>- Desktop pop ups
          </ul>
        </blockquote>
        <div class="sub-topic">
          <div class="malwr-help-btn" ui-sref="netsafe.malware">Go to Malwares</div>
        </div>
      </div>

      <div id="tab-help-content-3" class="tab-help-content">
        This type of malware looks like a genuine program but is actually destructive. A <b>trojan horse</b> can be
        programmed to steal personal and financial information, and then take over the files of the host
        computer. (“What are malwares”, n.d. )

        <blockquote>
          Symptoms of Trojan Horse:
          <ul>
            <li>- Slow computer performance
            <li>- Computer starts continuously
            <li>- Freezing/ crashing/ not responding
            <li>- Disk drives or disks become inaccessible
            <li>- Missing files/ modified files/ infected files
            <li>- OS errors or system errors
            <li>- Desktop pop ups
            <li>- Installed malicious games
            <li>- Using infected portable storage
            <li>- Downloading suspicious files from email
          </ul>
        </blockquote>
        <div class="sub-topic">
          <div class="malwr-help-btn" ui-sref="netsafe.malware">Go to Malwares</div>
        </div>
      </div>

      <div id="tab-help-content-4" class="tab-help-content">
        <b>Worms</b> replicate itself and destroys files on the host computer. It takes up all system operating
        files and data files on a drive.

        <blockquote>
          Symptoms of worms:
          <ul>
            <li>- Slow computer performance
            <li>- Computer restarts on its own
            <li>- Freezing/ crashing/ not responding
            <li>- Disk drives or disks become inaccessible
            <li>- Missing files/ modified files/ infected files
            <li>- OS errors or system errors
            <li>- Error messages pop up when win32 folder is opened
          </ul>
        </blockquote>
        <div class="sub-topic">
          <div class="malwr-help-btn" ui-sref="netsafe.malware">Go to Malwares</div>
        </div>
      </div>

      <div id="tab-help-content-5" class="tab-help-content">
        <b>Adwares</b> are a software application where advertising banners are displayed while any program is
        running. It can be automatically be downloaded to your system while browsing websites.
        Here, pop-ups can show up randomly and uninvoked by the user.

        <blockquote>
          Symptoms of adware:
          <ul>
            <li>- Slow computer performance
            <li>- Freezing/ crashing/ not responding
            <li>- Browser pop ups
          </ul>
        </blockquote>
        <div class="sub-topic">
          <div class="malwr-help-btn" ui-sref="netsafe.malware">Go to Malwares</div>
        </div>
      </div>

      <div id="tab-help-content-6" class="tab-help-content">
        <b>Spywares</b> are program that in installed on the computer with or without permission. It collects
        personal information and tracks everything that the user does without their knowledge and sends
        the data to a remote user.

        <blockquote>
          Symptoms of spyware:
          <ul>
            <li>- Slow computer performance
            <li>- Missing files/ modified files/ infected files
            <li>- Software not installed by the user
            <li>- Desktop pop ups
            <li>- Malicious programs are installed
            <li>- New toolbars in web browser
          </ul>
        </blockquote>
        <div class="sub-topic">
          <div class="malwr-help-btn" ui-sref="netsafe.malware">Go to Malwares</div>
        </div>
      </div>

      <div id="tab-help-content-7" class="tab-help-content">
        <b>Keylogger</b> is a surveillance type of software that can track the user’s keystrokes to log a file,
        usually encrypted. These can also record messages, e-mails, and all other information you type
        with your keyboard. Data received from keyloggers are then send to a remote user.

        <blockquote>
        Symptoms of keylogger:
          <ul>
            <li>- Slow computer performance
            <li>- Texts not printing correctly (reversed text)
            <li>- Appearance of strange desktop files
          </ul>
        </blockquote>
        <div class="sub-topic">
          <div class="malwr-help-btn" ui-sref="netsafe.malware">Go to Malwares</div>
        </div>
      </div>

      <div id="tab-help-content-8" class="tab-help-content">
        A <b>ransomware</b> is an advanced type of malware that restricts access to the computer system until a
        fee is paid. This malware basically holds your computer hostage to extort payment from the user.

        <blockquote>
        Symptoms of ransomware:
          <ul>
            <li>- Receiving suspicious emails
            <li>- Locked computer
          </ul>
        </blockquote>
        <div class="sub-topic">
          <div class="malwr-help-btn" ui-sref="netsafe.malware">Go to Malwares</div>
        </div>
      </div>

      <div id="tab-help-content-9" class="tab-help-content">
        <b>Identity theft</b> is a crime of fraud wherein criminals portray as other individuals. Most of the time,
        it is for financial gain. Criminals are able to get another person’s credentials and sensitive
        information through the malwares that have been installed in the system.
        <br>Aside from protecting yourself from malware, additional steps can be taken to prevent identity
        theft.  Users should protect their personal information. Do not give out information where you are
        unsure of where it will be used. During online transactions, take time to review the website’s
        privacy policy. Be sure that the website offers secure data encryption and other services so that
        they could protect your information.
        <br>If and when you suspect that you are a victim of identity theft, it is important to
        place fraud alerts on your credit cards and file police reports.
        <br><br>
        <div class="sub-topic">
          <div class="malwr-help-btn" ui-sref="netsafe.identity">Go to Identity Theft</div>
        </div>
      </div>

      <div id="tab-help-content-10" class="tab-help-content">
        <b>Spam</b> is flooding the internet with many copies of one message, with the sole purpose of forcing
        the message on people who would not want to receive such message. Often, it is for commercial
        advertising for products and get-rich-quick schemes. There is no particular threat to spam mails,
        however, they could be a source where the malware could come from.
        <br><br>
        <div class="sub-topic">
          <div class="malwr-help-btn" ui-sref="netsafe.spam">Go to Spam</div>
        </div>
      </div>

      <div id="tab-help-content-11" class="tab-help-content">
        <b>Phishing</b> is the act of when an email is sent out falsely claiming that they are a legitimate business
        to scam its recipients into giving out sensitive information, this can result to identity theft.
        Most phishing attempts direct users to a bogus website in which they are to update their personal
        information.
        <br>To avoid phishing attacks, one must refrain from sending personal or financial information
        through email, as it is not a secure method of transmitting personal information. If and when you
        must provide your personal information, make sure that it is actually the organization’s website
        and that it is secure. Last but not the least, review credit card and bank account statements as
        soon as you receive them to check for unauthorized charges. Always alert your bank and other
        important organizations when you suspect that you are under attack.
        <br><br>
        <div class="sub-topic">
          <div class="malwr-help-btn" ui-sref="netsafe.phishing">Go to Phishing</div>
        </div>
      </div>

      <div id="tab-help-content-12" class="tab-help-content">
        <b>Pharming</b> is very similar to phishing as they both rely on bogus websites to retrieve personal
        information. The difference is that in pharming, users are redirected to bogus websites, even if
        they typed in the correct address. This is common on banks or e-commerce websites. The primary
        method to pharm comes from DNS cache poisoning where an attack is made against the Internet naming
        system which allows users to visit a website through meaningful names, compared to a series of numbers
        or IP addresses.
        <br>You can protect yourself from pharming attacks by using a trustworthy internet service provider.
        Always check the address bar on the browser. Make sure that once the page has fully loaded, the URL
        is spelled correctly. As with any malwares, an anti-virus software can also protect you against
        pharming attacks, especially when you have entered an unsecured website.
        <br><br>
        <div class="sub-topic">
          <div class="malwr-help-btn" ui-sref="netsafe.pharming">Go to Pharming</div>
        </div>
      </div>

      <div id="tab-help-content-13" class="tab-help-content">
        <b>Rogue Security Software</b> acts as security software that detect malwares and remove them for free.
        When the user runs a scan for malware, it will show them bogus detections and warnings, where they
        will need to pay to “register” or remove the fake threats. These softwares can be installed in the
        computer, just like any malware. It could be downloaded and installed by other malware or even through
        social engineering.
        <br>The best way to protect yourself from rogue security softwares is to prevent them from being
        installed from the first place. Additional security measures that protects yourself from malwares will
        also help.
        <br><br>
        <div class="sub-topic">
          <div class="malwr-help-btn" ui-sref="netsafe.rogue">Go to Rogue Security Software</div>
        </div>
      </div>

      <div id="tab-help-content-14" class="tab-help-content">
        <b>Cyberattack Prevention</b> <br>
        <b>1.</b>  Do not open emails that are suspicious or that come from an unknown source.
        <br> - Suspicious emails may contain downloadable files that contain malware. Files should come from the company website
        <br>
        <b>2.</b>  Avoid clicking links that come from emails. Only open links that are sent by people you know.
        <br> - When you receive emails that seem reliable, always double check the email address to ensure that the sender is legitimate. Spelling mistakes and grammatical errors may be signs of a scam.
        <br>
        <b>3.</b>  Always check if the web address is secure.
        <br>
        <b>4.</b>  Avoid going to malicious or unreliable websites and if you do see ads, Never click the ads in any website.
        <br>
        <b>5.</b> Avoid giving out personal information on the internet. Anything placed on the internet is there forever.
        <br>
        <b>6.</b> If you see unfamiliar extensions, toolbars, and home pages, go to your settings and delete them accordingly.
        <br>
        <b>7.</b> Use anti viruses and firewalls to prevent  malwares from activating.
        <br>
        <b>8.</b> Never share your passwords to anyone, even to people you can trust.
        <br>
        <b>9.</b> When adding people in social media, always double check if the person adding you is really them through external means such as texting or word of mouth.
        <br><br>
        <div class="sub-topic">
          <div class="malwr-help-btn" ui-sref="netsafe.prevention">Go to Cyberattack Prevention</div>
        </div>
      </div>

		</div>
	</div>
</div>

<div class="help" ng-show="clickedTool">
  <div class="help-modal">
    <div class="help-header">
      <i class="fa fa-lightbulb-o"></i> Online Safety and Security Activity
      <a class="close" ng-click="clickToolTip()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Select a maximum of 5 symptoms to be simulated and then guess the correct possible malware(s). Click the clear all symptoms button to deselect all symptoms.
      You may click the view possible answers to see the correct answer(s).
      <br><br>
      On the custom combination, you may add simulations of combination of malwares by clicking the custom combination button. Name your combination and select a maximum of 5 symptoms.
      Write the possible malware(s) that shows the selected symptom(s) on the answer box. Save your custom combination when done.
      <br><br>
      At the bottom of the page, you may click the  Rogue Security Software button to go back or the end button to go back to the main menu.
      <br><br>

      <h4><b>Symptom Combinations Cheat Sheet</h4></b>

     <table style="width: 100%">
      <tr>
        <th style="width: 23%"></th>
        <th style="width: 10%">Virus</th>
        <th style="width: 15%">Trojan Horses</th>
        <th style="width: 10%">Worms</th>
        <th style="width: 10%">Adware</th>
        <th style="width: 10%">Spyware</th>
        <th style="width: 10%">Keylogger</th>
        <th style="width: 12%">Ransomware</th>
      </tr>
      <tr>
        <td>Slow Computer Performance</td>
        <td class="center-me">✔︎</td>
        <td class="center-me">✔︎</td>
        <td class="center-me">✔︎</td>
        <td class="center-me">✔︎</td>
        <td class="center-me">✔︎</td>
        <td class="center-me">✔︎</td>
        <td class="center-me"></td>
      </tr>
      <tr>
        <td>Computer Crash</td>
        <td class="center-me">✔︎</td>
        <td class="center-me">✔︎</td>
        <td class="center-me">✔︎</td>
        <td class="center-me">✔︎</td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me"></td>
      </tr>
      <tr>
        <td>Malicious Programs</td>
        <td class="center-me">✔︎</td>
        <td class="center-me">✔︎</td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me">✔︎</td>
        <td class="center-me">✔︎</td>
        <td class="center-me"></td>
      </tr>
      <tr>
        <td>Infected Files</td>
        <td class="center-me">✔︎</td>
        <td class="center-me">✔︎</td>
        <td class="center-me">✔︎</td>
        <td class="center-me"></td>
        <td class="center-me">✔︎</td>
        <td class="center-me"></td>
        <td class="center-me"></td>
      </tr>
      <tr>
        <td>Infected Storage</td>
        <td class="center-me">✔︎</td>
        <td class="center-me">✔︎</td>
        <td class="center-me">✔︎</td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me"></td>
      </tr>
      <tr>
        <td>OS Errors</td>
        <td class="center-me">✔︎</td>
        <td class="center-me">✔︎</td>
        <td class="center-me">✔︎</td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me"></td>
      </tr>
      <tr>
        <td>Computer Restart</td>
        <td class="center-me">✔︎</td>
        <td class="center-me">✔︎</td>
        <td class="center-me">✔︎</td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me"></td>
      </tr>
      <tr>
        <td>Desktop Pop-ups</td>
        <td class="center-me">✔︎</td>
        <td class="center-me">✔︎</td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me">✔︎</td>
        <td class="center-me"></td>
        <td class="center-me"></td>
      </tr>
      <tr>
        <td>Reversed Texts</td>
        <td class="center-me">✔︎</td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me">✔︎</td>
        <td class="center-me"></td>
      </tr>
      <tr>
        <td>Locked Computer</td>
        <td class="center-me">✔︎</td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me">✔︎</td>
      </tr>
      <tr>
        <td>Suspicious Email</td>
        <td class="center-me"></td>
        <td class="center-me">✔︎</td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me">✔︎</td>
      </tr>
      <tr>
        <td>Browser Pop-ups</td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me">✔︎</td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me"></td>
      </tr>
      <tr>
        <td>Win32 Error</td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me">✔︎</td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me"></td>
      </tr>
      <tr>
        <td>Browser Toolbars</td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me"></td>
        <td class="center-me">✔︎</td>
        <td class="center-me"></td>
        <td class="center-me"></td>
      </tr>
      <tr>
        <td>Unknown Exe Running</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="center-me">✔︎</td>
        <td></td>
      </tr>
      <tr>
        <td>Programs Not Starting</td>
        <td class="center-me">✔︎</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>


    </div>
  </div>
</div>
