<div class="header">
	Online Safety and Security Activity
</div>

<div class="center">
  <div id="activity-container">

    <div id="canvas">
      <img id="infected-file" src="images/activity/infected-file.png">
      <img id="malicious-programs" src="images/activity/malicious-programs.png">
      <img id="win32-png" src="images/activity/win-32.png">

      <img id="infected-disk-gif" src="images/activity/infected-disk.gif">
      <img id="infected-disk-png" src="images/activity/infected-disk-drive.png">

      <img id="desktop-popup" src="images/activity/desktop-popup.gif">
      <img id="os-error" src="images/activity/os-error.gif">

      <img id="win32-gif" src="images/activity/win-32-error.gif">
      <img id="browser-popup" src="images/activity/browser-popup.gif">
      <img id="suspicious-email" src="images/activity/suspicious-email.gif">
      <img id="not-responding" src="images/activity/not-responding.gif">
      <img id="reversed-text" src="images/activity/reversed-text.gif">

      <img id="browser-toolbar" src="images/activity/browser-toolbar.gif">
      <img id="no-start-programs" src="images/activity/not-starting.gif">
      <img id="unknown-exe" src="images/activity/unknown-exe.gif">

      <img id="locked-computer" src="images/activity/locked-computer.png">
      <img id="slow-computer" src="images/activity/slow-computer.png">
      <img id="computer-restart" src="images/activity/computer-restart.gif">
      <img id="blue-screen" src="images/activity/blue-screen.gif">

      <img id="desktop" src="images/activity/desktop.png">
    </div>

    <div class="symptoms">
      <div id="computer-crash-btn" class="symp-select" ng-click="showBlueScreen()">Computer crash</div>
      <div id="computer-restart-btn" class="symp-select" ng-click="showComputerRestart()">Computer restart</div>
      <div id="slow-computer-btn" class="symp-select" ng-click="showSlowComputer()">Slow performance</div>
      <div id="locked-computer-btn" class="symp-select" ng-click="showLockedComputer()">Locked computer</div>
      <div id="reversed-text-btn" class="symp-select" ng-click="showReversedText()">Reversed text</div>
      <div id="not-responding-btn" class="symp-select" ng-click="showNotResponding()">Not responding</div>
      <div id="suspicious-email-btn" class="symp-select" ng-click="showSuspiciousEmail()">Downloading email files</div>
      <div id="browser-popup-btn" class="symp-select" ng-click="showBrowserPopup()">Browser pop-up</div>
      <div id="win32-btn" class="symp-select" ng-click="showWin32Error()">Win32 Error</div>
      <div id="desktop-popup-btn" class="symp-select" ng-click="showDesktopPopup()">Desktop pop-up</div>
      <div id="os-error-btn" class="symp-select" ng-click="showOSError()">OS Errors</div>
      <div id="infected-storage-btn" class="symp-select" ng-click="showInfectedStorage()">Infected storage</div>
      <div id="infected-file-btn" class="symp-select" ng-click="showInfectedFiles()">Infected files</div>
      <div id="malicious-programs-btn" class="symp-select" ng-click="showMaliciousPrograms()">Malicious programs</div>

      <div id="browser-toolbar-btn" class="symp-select" ng-click="showBrowserToolbar()">Browser Toolbar</div>
      <div id="no-start-programs-btn" class="symp-select" ng-click="showNoStartProgram()">Programs not starting</div>
      <div id="unknown-exe-btn" class="symp-select" ng-click="showUnknownExe()">Unknown exe running</div>

      <div class="bold-btn symp-select" ng-click="clearSymptom()">Clear all symptoms</div>
      <div class="bigger-btn bold-btn symp-select" ng-click="showAnswers()">View possible answers</div>

      <br><br>
      <div id="full-width-btn" class="bold-btn symp-select" ng-click="openCustom()">Custom Combination</div>

      <div class="custom-symp symp-select">
        <div id="localStorageData0" class="col-xs-10 localStorageData" ng-click="playCustom(0)"> - </div>
        <div class="col-xs-2">
          <a class="custom-close" ng-click="clearCustom(0)">
            <i class="fa fa-times"></i>
          </a>
        </div>
        <div class="col-xs-2">
          <a class="custom-close" ng-click="showAnswer(0)">
            <i class="fa fa-eye"></i>
          </a>
        </div>
      </div>

      <div class="custom-symp symp-select">
        <div id="localStorageData1" class=" col-xs-10 localStorageData" ng-click="playCustom(1)"> - </div>
        <div class="col-xs-2">
          <a class="custom-close" ng-click="clearCustom(1)">
            <i class="fa fa-times"></i>
          </a>
        </div>
        <div class="col-xs-2">
          <a class="custom-close" ng-click="showAnswer(1)">
            <i class="fa fa-eye"></i>
          </a>
        </div>
      </div>

      <div class="custom-symp symp-select">
        <div id="localStorageData2" class=" col-xs-10 localStorageData" ng-click="playCustom(2)"> - </div>
        <div class="col-xs-2">
          <a class="custom-close" ng-click="clearCustom(2)">
            <i class="fa fa-times"></i>
          </a>
        </div>
        <div class="col-xs-2">
          <a class="custom-close" ng-click="showAnswer(2)">
            <i class="fa fa-eye"></i>
          </a>
        </div>
      </div>

      <div class="custom-symp symp-select">
        <div id="localStorageData3" class=" col-xs-10 localStorageData" ng-click="playCustom(3)"> - </div>
        <div class="col-xs-2">
          <a class="custom-close" ng-click="clearCustom(3)">
            <i class="fa fa-times"></i>
          </a>
        </div>
        <div class="col-xs-2">
          <a class="custom-close" ng-click="showAnswer(3)">
            <i class="fa fa-eye"></i>
          </a>
        </div>
      </div>

      <div class="custom-symp symp-select">
        <div id="localStorageData4" class=" col-xs-10 localStorageData" ng-click="playCustom(4)"> - </div>
        <div class="col-xs-2">
          <a class="custom-close" ng-click="clearCustom(4)">
            <i class="fa fa-times"></i>
          </a>
        </div>
        <div class="col-xs-2">
          <a class="custom-close" ng-click="showAnswer(4)">
            <i class="fa fa-eye"></i>
          </a>
        </div>
      </div>


    </div>

    <div id="footer">
      <button class="prev" ui-sref="netsafe.rogue"> ◀︎ Rogue Security Software </button>
      <button class="next" ui-sref="netsafe.main"> End ▶︎ </button>
    </div>

  </div>
</div>

<div class="answer" ng-show="answered">
  <div class="help-modal">
    <div class="help-header">
      Possible Scenarios
      <a class="close" ng-click="showAnswers()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      {{answer}}
    </div>
  </div>
</div>

<div class="custom" ng-show="custom">
  <div class="help-modal">
    <div class="help-header">
      Custom Combination
      <a class="close" ng-click="openCustom()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">

      <form id="activity-form">

        <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label"><b>Name</b></label>
          <div class="col-sm-10">
            <input data-ng-model="name" class="form-control" type="text" id="name">
          </div>
        </div>

        <b>Symptoms</b> <br>

        <!-- <div ng-app="Netsafe" ng-controller="activityController">
          <div ng-repeat="checkbox in checkboxData" class="form-check form-check-inline col-sm-4">
            <label>
              <input type="checkbox" ng-model="checkbox.checked"/>
              {{checkbox.name}}
            </label>
          </div>
        </div> -->
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="1"> Computer Crash
          </label>
        </div>
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="2"> Computer Restart
          </label>
        </div>
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="3"> Slow Performance
          </label>
        </div>

        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="4"> Locked Computer
          </label>
        </div>
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="5"> Reversed Text
          </label>
        </div>
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="6"> Not Responding
          </label>
        </div>

        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="7"> Downloading Email Files
          </label>
        </div>
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="8"> Browser Pop-up
          </label>
        </div>
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="9"> Win32 Error
          </label>
        </div>

        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="10"> Desktop Pop-up
          </label>
        </div>
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="11"> OS Errors
          </label>
        </div>
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="12"> Infected Storage
          </label>
        </div>

        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="13"> Infected Files
          </label>
        </div>
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="14"> Malicious Programs
          </label>
        </div>
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="15"> Browser Toolbar
          </label>
        </div>

        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="16"> Programs Not Starting
          </label>
        </div>
        <div class="form-check form-check-inline col-sm-4">
          <label class="form-check-label">
            <input class="checkboxes form-check-input" type="checkbox" value="17"> Unknown Exe running
          </label>
        </div>

        <div class="col-sm-4"> <p style="color: #F1FBEE;"> for spacing </p></div>

        <br><br><br><br><br><br><br><br><br>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><b>Answer</b></label>
          <div class="col-sm-10">
            <input data-ng-model="answer" class="form-control" type="text" id="answer">
          </div>
        </div>


        <div class="center-save">
          <div class="form-group row">
            <div class="col-sm-12">
              <button id="add" type="submit" class="btn" ng-click="addCustom()"><b>Save</b></button>
            </div>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>

<div class="help" ng-show="clicked">
	<div class="help-modal">
		<div class="help-header">
			Online Safety and Security Activity
			<a class="close" ng-click="clickHelp()">
        <i class="fa fa-times"></i>
      </a>
		</div>
		<div class="help-content">

      <table>
         <tr><td class="tbl-symp tbl-general">Symptom</td><td>Slow Performance</td><td>Desktop Pop-ups</td><td>Infected Files</td><td>Computer Crash</td><td>&nbsp;</td></tr>
         <tr class="tbl-malware"><td class="tbl-general">Possible Malwares</td><td>Virus, Trojan Horse, Worms, Adware, Spyware</td><td>Virus, Trojan Horse, Spyware, Worms</td><td>Virus, Trojan Horse, Worms</td><td>Virus</td><td>&nbsp;</td></tr>
         <tr><td class="tbl-symp tbl-general">Symptom</td><td>Computer Restart</td><td>Malicious Programs</td><td>Infected Storage</td><td>Downloading Email Files</td><td>&nbsp;</td></tr>
         <tr class="tbl-malware"><td class="tbl-general">Possible Malwares</td><td>Virus, Trojan Horse, Worms, Adware, Spyware</td><td>Trojan Horse, Virus, Spyware</td><td>Trojan Horse, Virus</td><td>Trojan Horse</td><td>&nbsp;</td></tr>
         <tr><td class="tbl-symp tbl-general">Symptom</td><td>Computer Restart</td><td>OS Errors</td><td>Infected Files</td><td>Win32 Error</td><td>&nbsp;</td></tr>
         <tr class="tbl-malware"><td class="tbl-general">Possible Malwares</td><td>Virus, Trojan Horse, Worms, Adware, Spyware</td><td>Worm,  Virus</td><td>Worms, Virus, Trojan Horse</td><td>Worms</td><td>&nbsp;</td></tr>
         <tr><td class="tbl-symp tbl-general">Symptom</td><td>Slow Performance</td><td>Browser Pop-ups</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
         <tr class="tbl-malware"><td class="tbl-general">Possible Malwares</td><td>Virus, Trojan Horse, Worms, Adware, Spyware</td><td>Adware</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
         <tr><td class="tbl-symp tbl-general">Symptom</td><td>Slow Performance</td><td>Malicious Programs</td><td>Browser Toolbar</td><td>&nbsp;</td><td>&nbsp;</td></tr>
         <tr class="tbl-malware"><td class="tbl-general">Possible Malwares</td><td>Virus, Trojan Horse, Worms, Adware, Spyware</td><td>Spyware, Trojan Horse</td><td>Virus, Trojan Horse, Worms, Adware, Spyware</td><td>&nbsp;</td><td>&nbsp;</td></tr>
         <tr><td class="tbl-symp tbl-general">Symptom</td><td>Slow Performance</td><td>Reversed Text</td><td>Unknown Exe Running</td><td>&nbsp;</td><td>&nbsp;</td></tr>
         <tr class="tbl-malware"><td class="tbl-general">Possible Malwares</td><td>Virus, Trojan Horse, Worms, Adware, Spyware</td><td>Keylogger</td><td>Keylogger</td><td>&nbsp;</td><td>&nbsp;</td></tr>
         <tr><td class="tbl-symp tbl-general">Symptom</td><td>Downloading Email Files</td><td>Locked Computer</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
         <tr class="tbl-malware"><td class="tbl-general">Possible Malwares</td><td>Trojan Horse, Ransomware</td><td>Ransomware</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
         <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
         <tr class="tbl-symp tbl-general"><td>&nbsp;</td><td>Symptom 1</td><td>Symptom 2</td><td>Symptom 3</td><td>Symptom 4</td><td>Symptom 5</td></tr>
         <tr><td class="tbl-malware">Virus and Trojan Horse</td><td>Desktop Pop-ups</td><td>Infected Files</td><td>Infected Storage</td><td>Downloading Email Files</td><td>Computer Crash</td></tr>
         <tr><td class="tbl-malware">Spyware and Adware</td><td>Browser Pop-ups</td><td>Slow Performance</td><td>Malicious Programs</td><td>Browser Toolbar</td><td>&nbsp;</td></tr>
         <tr><td class="tbl-malware">Worms and Virus</td><td>Slow Performance</td><td>Infected Files</td><td>Win32 Error</td><td>Computer Crash</td><td>Computer Restart</td></tr>
         <tr><td class="tbl-malware">Virus and Adware</td><td>Slow Performance</td><td>Browser Pop-ups</td><td>Infected Files</td><td>Computer Crash</td><td>&nbsp;</td></tr>
         <tr><td class="tbl-malware">Keylogger and Spyware</td><td>Slow Performance</td><td>Malicious Programs</td><td>Reversed Text</td><td>&nbsp;</td><td>&nbsp;</td></tr>
         <tr><td class="tbl-malware">Trojan Horse and Ransomware</td><td>Malicious Programs</td><td>Downloading Email Files</td><td>Infected Storage</td><td>Locked Computer</td><td>&nbsp;</td></tr>
         <tr><td class="tbl-malware">Trojan Horse and Adware</td><td>Browser Pop-ups</td><td>Malicious Programs</td><td>Computer Restart</td><td>&nbsp;</td><td>&nbsp;</td></tr>
         <tr><td class="tbl-malware">Trojan Horse, Virus, and Worms</td><td>Infected Storage</td><td>Infected Files</td><td>OS Errors</td><td>Computer Crash</td><td>Program Not Responding</td></tr>
         <tr><td class="tbl-malware">Spyware, Trojan Horse, and Ransomware</td><td>Downloading Email Files</td><td>Malicious Programs</td><td>Locked Computer</td><td>Browser Toolbar</td><td>&nbsp;</td></tr>
         <tr><td class="tbl-malware">Keylogger, Worms, and Virus</td><td>Slow Performance</td><td>Reversed Text</td><td>Win32 Error</td><td>Desktop Pop-ups</td><td>Computer Crash</td></tr>
      </table>

<!-- 			Click on the symptoms that you want to be shown on the screen, maximum of 5. Check what the
      possible malware may be by clicking on View Possible Answers button. To clear all symptoms,
      simply click on the Clear all symptoms button. -->
		</div>
	</div>
</div>

<div class="help" ng-show="clickedTool">
  <div class="help-modal">
    <div class="help-header">
      Online Safety and Security Activity
      <a class="close" ng-click="clickToolTip()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Tooltip
    </div>
  </div>
</div>
