<div class="header">
  Cybercitizenship
</div>

<div class="center">
  <div class="container">

    <!-- FOR NATIVE APP -->
    <!-- <video controls="controls">
      <source src="videos/CyberCitizenship.mp4" type="video/mp4">
    </video> -->

    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Xp4tWIy5rnc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>

  </div>
</div>

<div class="help" ng-show="clicked">
  <div class="help-modal">
    <div class="help-header">
      Cybercitizenship
      <a class="close" ng-click="clickHelp()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Cyber Citizenship is how cyber citizens / netizens present themselves online and conduct
      processes in an online community. It is also sometimes called Digital Citizenship.
      (Hernandez, J., 2015) A netizen understands what a member of this community must and must not do.
      According to the Australian Government Office Of The Children’s eSafety Commissioner,
      a good cyber citizen must know how to engage positively, know the online world, and choose
      consciously. (“Digital Citizenship”,n.d.)
    </div>
  </div>
</div>
