<div class="header">
  Cybercitizenship
  <div class="space" ng-show="ppdVal"></div>
</div>

<div class="center">
  <div class="container" style="padding-top: 30px;">

    <div cybercitizenship-vid class="embed-responsive embed-responsive-16by9">
      <youtube-video class="embed-responsive-item" video-url="cyberCitizenshipVid" player-vars="playerVars"></youtube-video>
    </div>

    <div class="space" ng-show="ppdVal"></div>
    <div id="suggestedDiscussion" ng-show="ppdVal"> Suggested Discussion </div>

    <div id="footer">
      <button class="prev" ui-sref="netsafe.main"> ◀︎ Netsafe Menu </button>
      <button class="next" ui-sref="netsafe.netiquette"> Netiquette Menu ▶︎ </button>
    </div>
    <div class="space"></div>

  </div>
</div>

<div class="help" ng-show="clicked">
  <div class="help-modal">
    <div class="help-header">
      <i class="fa fa-question-circle-o"></i> Cybercitizenship
      <a class="close" ng-click="clickHelp()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Cyber Citizenship is how cyber citizens / netizens present themselves online and conduct
      processes in an online community. It is also sometimes called Digital Citizenship.
      (Hernandez, J., 2015) A netizen understands what a member of this community must and must not do.
      According to the Australian Government Office Of The Children’s eSafety Commissioner,
      a good cyber citizen must know how to engage positively, know the online world, and choose
      consciously. (“Digital Citizenship”,n.d.)
    </div>
  </div>
</div>

<div class="help" ng-show="clickedTool">
  <div class="help-modal">
    <div class="help-header">
      <i class="fa fa-lightbulb-o"></i> Cybercitizenship
      <a class="close" ng-click="clickToolTip()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      The next topic you could discuss could be Netiquette! We suggest going to the Netiquette’s main page!
    </div>
  </div>
</div>
