<div class="header">
	Definition of Netiquette
</div>

<div class="center">
	<div class="container">
		<div class="sub-topic">
			<button ng-click="showDefVid(1)">Internet</button>
			<button ng-click="showDefVid(2)">Etiquette</button>
		</div>
		Definition of Netiquette

		<div id="Def-video-1" class="Def-video">
	  	Internet Video
	  </div>

	  <div id="Def-video-2" class="Def-video">
	  	Etiquette Video
<!-- 		  <video controls="controls">
				<source src="videos/Internet Privacy.mp4" type="video/mp4">
			</video> -->
	  </div>


	</div>
</div>



<!-- <div id="footer">
	<p>
		<button>Internet</button>  <button>Etiquette</button>
	</p>
</div> -->

<div class="help" ng-show="clicked">
	<div class="help-modal">
		<div class="help-header">
			Definition of Netiquette
			<a class="close" ng-click="clickHelp()">
        <i class="fa fa-times"></i>
      </a>
		</div>
		<div class="help-content">
			hello im help
		</div>
	</div>
</div>
