<div class="header">
  Definition of Netiquette
</div>

<div class="center">
  <div class="container">

    <!-- FOR NATIVE APP -->
    <!-- <video controls="controls">
      <source src="videos/Netiquette.mp4" type="video/mp4">
    </video> -->

    <div class="embed-responsive embed-responsive-16by9">
      <youtube-video class="embed-responsive-item" video-url="definitionVid" player-vars="playerVars"></youtube-video>
    </div>

    <!-- <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/78BTES4Fyro?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div> -->

    <div id="footer">
      <a ui-sref="netsafe.cybercitizenship"><button class="prev"> ◀︎ Cybercitizenship </button></a>
      <a ui-sref="netsafe.fundamental"> <button class="next"> Fundamental Concepts ▶︎ </button></a>
    </div>

  </div>
</div>



<!-- <div id="footer">
  <p>
    <button>Internet</button>  <button>Etiquette</button>
  </p>
</div> -->

<div class="help" ng-show="clicked">
  <div class="help-modal">
    <div class="help-header">
      Definition of Netiquette
      <a class="close" ng-click="clickHelp()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Netiquette or Cyber Ethics, according to Tavani (2004), is a field of implemented ethics
      that inspect moral, legal and social issues in the improvement and application of cyber
      technology. Terms like computer ethics, information ethics, and internet ethics have been
      used to describe cyber ethics. Most of the communication that happens within the internet are
      considered non-verbal which means that the people involved cannot gauge each other’s hearing
      intonation, facial expressions, or body language. This often leads to misinterpretation.
      Thankfully, this is solved by netiquette. By following netiquette, communication online becomes clearer.
    </div>
  </div>
</div>

<div class="help" ng-show="clickedTool">
  <div class="help-modal">
    <div class="help-header">
      Definition of Netiquette
      <a class="close" ng-click="clickToolTip()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Tooltip
    </div>
  </div>
</div>
