<div class="header">
	Fundamental Concepts on Netiquette
</div>

<br>

<div id="tab-1" class="tab" ng-click="showTab(1)">
  Conducting Yourself Online
</div>

<div id="tab-2" class="tab" ng-click="showTab(2)">
  Respecting Others Online
</div>


<div class="tab-content-container">
	<div id="tab-content-1" class="tab-content">
	  Conducting Yourself Online content
	  <div id="footer">
			<p>
		  	<button>Digital Tattoo</button>
		  	<button>Internet Privacy</button>
	  	</p>
	  </div>
	</div>

	<div id="tab-content-2" class="tab-content">
	  Respecting Others Online content
	</div>
</div>

<div class="help" ng-show="clicked">
	<div class="help-modal">
		<div class="help-header">
			Fundamental Concepts on Netiquette
		</div>
		<div class="help-content">
			hello im help
		</div>
	</div>
</div>
