<ul class="nav nav-pills">
	<li class="active"><a data-toggle="pill" href="#conducting"> Conducting Yourself Online </a></li>
	<li><a data-toggle="pill" href="#respecting"> Respecting Others Online </a></li>
</ul>


<div class="tab-content">
	<div id="conducting" class="tab-pane fade in active">
		content for conducting yourself online
		<button>Digital Tattoo</button>  <button>Internet Privacy</button>
	</div>
	<div id="respecting" class="tab-pane fade">
		content for respecting others online
	</div>

</div>

<div class="center">
	<div class="container">
	</div>
</div>




<div class="help" ng-show="clicked">
	<div class="help-modal">
		<div class="help-header">
			Fundamental Concepts on Netiquette
		</div>
		<div class="help-content">
			hello im help
		</div>
	</div>
</div>