<div class="center">
  <div class="container">
    <div class="menu-button col-xs-12 col-sm-4">
      <a ui-sref="netsafe.cybercitizenship">
      <img src="images/Cybercitizenship.png" style="width: 200px;">
      <br> <br>
       Cybercitizenship </a>
    </div>

    <div class="menu-button col-xs-12 col-sm-4">
      <a ui-sref="netsafe.netiquette">
      <img src="images/Netiquette.png" style="width: 200px;">
      <br> <br>
       Netiquette </a>
    </div>

    <div class="menu-button col-xs-12 col-sm-4">
      <a ui-sref="netsafe.safety">
      <img src="images/Online-Personal-Safety-and-Security.png" style="width: 200px;">
      <br> <br>
       Online Personal Safety and Security </a>
    </div>
  </div>
</div>

<div class="help" ng-show="clicked">
  <div class="help-modal">
    <div class="help-header">
      Netsafe
      <a class="close" ng-click="clickHelp()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Choose between Cybercitizenship, Netiquette or Online Personal Safety and Security to see the sub-topics
      under them. You can also toggle the sidebar on the top right most corner of the screen for all the
      pages in the teachware.
    </div>
  </div>
</div>

<div class="help" ng-show="clickedTool">
  <div class="help-modal">
    <div class="help-header">
      Netsafe
      <a class="close" ng-click="clickToolTip()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Tooltip
    </div>
  </div>
</div>
