<div class="center">
  <div class="container">
    <div class="menu-button col-xs-12 col-sm-4"> 
      <img src="http://placehold.it/200x200">
      <br> <br>
      <a ui-sref="netsafe.cybercitizenship"> Cybercitizenship </a>
    </div>
    
    <div class="menu-button col-xs-12 col-sm-4"> 
      <img src="http://placehold.it/200x200">
      <br> <br>
      <a ui-sref="netsafe.netiquette"> Netiquette </a>
    </div>
    
    <div class="menu-button col-xs-12 col-sm-4"> 
      <img src="http://placehold.it/200x200">
      <br> <br>
      <a ui-sref="netsafe.safety"> Online Personal Safety and Security </a>
    </div>
  </div>
</div>