<div class="header">
  Netiquette Activity
</div>
<br>
<div id="tab-1" class="tab" ng-click="showTab(1)">
  Easy
</div>
<div id="tab-2" class="tab" ng-click="showTab(2)">
  Medium
</div>
<div id="tab-3" class="tab" ng-click="showTab(3)">
  Hard
</div>
<div class="tab-content-container">

<!-- Easy Difficulty Scenarios -->
  <div id="tab-content-1" class="tab-content">
    <div class="difficulty-header">
      Easy Difficulty Scenarios
    </div>
    <div id="netivity-scenario-nav">
      <p>
        <button ng-repeat="scenario in easyScenarios track by $index"
                ng-click="showEasyScenario($index)"
                id="button-num-($index)"
                class="button-num">
          {{$index+1}}
        </button>
      </p>
    </div>

  <div class="scenario-content"
       ng-repeat="scenario in easyScenarios track by $index"
       ng-show="$parent.currentScenario === $index">
    <div class="core-scenario">
      {{scenario.scenario}}
    </div>

    <table class="core-table">
      <tr ng-repeat="question in questions track by $index">
        <th class="core-question"> {{question}} </th>
        <th class="core-answer">
          <p class="answer-icon">
            {{$parent.scenario.answers[$index][answers[$index]]}}
            <a ng-click="clickAnswer($index)" style="text-decoration: none; cursor: pointer; color: #dd953e">
              <i class="fa fa-pencil"></i>
            </a>
          </p>
          <div class="answer-modal help" id="answer-{{$index}}">
            <div class="help-modal">
              <div class="help-header">
                Question
                <a class="close" ng-click="clickAnswer($index)">
                  <i class="fa fa-times"></i>
                </a>
              </div>
              <div class="help-content">
                <div class="modal-question">
                  {{question}}
                </div>

                <div class="modal-question-radio" ng-repeat="answer in $parent.scenario.answers[$index] track by $index">
                  <label>
                    <input type="radio"
                           ng-value="$index"
                           ng-model="$parent.answers[$parent.$index]">
                    {{answer}}
                  </label>
                </div>
                <a ng-click="clickAnswer($index)">
                  <div class="submit-button">
                    Submit Answer
                  </div>
                </a>
              </div>
            </div>
          </div>
        </th>
      </tr>
    </table>

    <a ng-click="checkAnswer()">
      <div class="check-button">
        Check Answer
      </div>
    </a>
  </div>
  </div> <!-- Tab content closing tab -->

  <!-- Medium Difficulty Scenarios -->
  <div id="tab-content-2" class="tab-content">
    <div class="difficulty-header">
      Medium Difficulty Scenarios
    </div>
    <div id="netivity-scenario-nav">
      <p>
        <button ng-repeat="scenario in easyScenarios track by $index"
                ng-click="showMedScenario($index)"
                class="button-num">
          {{$index+1}}
        </button>
      </p>
    </div>

  <div class="scenario-content"
       ng-repeat="scenario in medScenarios track by $index"
       ng-show="$parent.currentScenario === $index">
    <div class="core-scenario">
      {{scenario.scenario}}
    </div>

    <table class="core-table">
      <tr ng-repeat="question in questions track by $index">
        <th class="core-question"> {{question}} </th>
        <th class="core-answer">
          <p class="answer-icon">
            {{$parent.scenario.answers[$index][answers[$index]]}}
            <a ng-click="clickAnswer($index)" style="text-decoration: none; cursor: pointer; color: #dd953e">
              <i class="fa fa-pencil"></i>
            </a>
          </p>
          <div class="answer-modal help" id="answer-{{$index}}">
            <div class="help-modal">
              <div class="help-header">
                Question
                <a class="close" ng-click="clickAnswer($index)">
                  <i class="fa fa-times"></i>
                </a>
              </div>
              <div class="help-content">
                <div class="modal-question">
                  {{question}}
                </div>

                <div class="modal-question-radio" ng-repeat="answer in $parent.scenario.answers[$index] track by $index">
                  <label>
                    <input type="radio"
                           ng-value="$index"
                           ng-model="$parent.answers[$parent.$index]">
                    {{answer}}
                  </label>
                </div>
                <a ng-click="clickAnswer($index)">
                  <div class="submit-button">
                    Submit Answer
                  </div>
                </a>
              </div>
            </div>
          </div>
        </th>
      </tr>
    </table>

    <a ng-click="checkAnswer()">
      <div class="check-button">
        Check Answer
      </div>
    </a>
  </div>
  </div> <!-- Tab content closing tab -->

  <!-- Hard Difficulty Scenarios -->
  <div id="tab-content-3" class="tab-content">
    <div class="difficulty-header">
      Hard Difficulty Scenarios
    </div>
    <div id="netivity-scenario-nav">
      <p>
        <button ng-repeat="scenario in easyScenarios track by $index"
                ng-click="showHardScenario($index)"
                class="button-num">
          {{$index+1}}
        </button>
      </p>
    </div>

  <div class="scenario-content"
       ng-repeat="scenario in hardScenarios track by $index"
       ng-show="$parent.currentScenario === $index">
    <div class="core-scenario">
      {{scenario.scenario}}
    </div>

    <table class="core-table">
      <tr ng-repeat="question in questions track by $index">
        <th class="core-question"> {{question}} </th>
        <th class="core-answer">
          <p class="answer-icon">
            {{$parent.scenario.answers[$index][answers[$index]]}}
            <a ng-click="clickAnswer($index)" style="text-decoration: none; cursor: pointer; color: #dd953e">
              <i class="fa fa-pencil"></i>
            </a>
          </p>
          <div class="answer-modal help" id="answer-{{$index}}">
            <div class="help-modal">
              <div class="help-header">
                Question
                <a class="close" ng-click="clickAnswer($index)">
                  <i class="fa fa-times"></i>
                </a>
              </div>
              <div class="help-content">
                <div class="modal-question">
                  {{question}}
                </div>

                <div class="modal-question-radio" ng-repeat="answer in $parent.scenario.answers[$index] track by $index">
                  <label>
                    <input type="radio"
                           ng-value="$index"
                           ng-model="$parent.answers[$parent.$index]">
                    {{answer}}
                  </label>
                </div>
                <a ng-click="clickAnswer($index)">
                  <div class="submit-button">
                    Submit Answer
                  </div>
                </a>
              </div>
            </div>
          </div>
        </th>
      </tr>
    </table>

    <a ng-click="checkAnswer()">
      <div class="check-button">
        Check Answer
      </div>
    </a>
  </div>
  </div> <!-- Tab content closing tab -->

</div>  <!-- tab-content div end -->

<div class="help" ng-show="clicked">
  <div class="help-modal">
    <div class="help-header">
      Netiquette Activity
      <a class="close" ng-click="clickHelp()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      hello im help
    </div>
  </div>
</div>

<div class="checkCorrect alert alert-success activity-alert" role="alert">
  <a class="close" onclick="$('.checkCorrect').hide()">
    <i class="fa fa-times"></i>
  </a>
  <strong> Well done! </strong> All answers are correct!
</div>

<div class="checkWrong alert alert-danger activity-alert" role="alert">
  <a class="close" onclick="$('.checkWrong').hide()">
    <i class="fa fa-times"></i>
  </a>
  <strong> Try again! </strong> One or more answers are incorrect!
</div>
