<div class="center">
  <div class="container">

    <div class="menu-button col-xs-12 col-sm-6">
      <a ui-sref="netsafe.definition">
      <img src="images/Definition-of-Netiquette.png" style="width: 200px;">
      <br> <br>
       Definition of Netiquette </a>
    </div>

    <div class="menu-button col-xs-12 col-sm-6">
      <a ui-sref="netsafe.fundamental">
      <img src="images/Fundamental-Concepts.png" style="width: 200px;">
      <br> <br>
       Fundamental Concepts </a>
    </div>

    <div class="space col-sm-12"></div>

    <div class="menu-button col-xs-12 col-sm-6">
      <a ui-sref="netsafe.rules">
      <img src="images/Core-Rules-of-Netiquette.png" style="width: 200px;">
      <br> <br>
      Core Rules of Netiquette </a>
    </div>

    <div class="menu-button col-xs-12 col-sm-6">
      <a ui-sref="netsafe.netivity">
      <img src="images/Netiquette-Assessment.png" style="width: 200px;">
      <br> <br>
       Netiquette Activities </a>
    </div>

  </div>
</div>



<div class="help" ng-show="clicked">
  <div class="help-modal">
    <div class="help-header">
      <i class="fa fa-question-circle-o"></i> Netiquette
      <a class="close" ng-click="clickHelp()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Choose between the four sub-topics to start your lesson!
    </div>
  </div>
</div>

<div class="help" ng-show="clickedTool">
  <div class="help-modal">
    <div class="help-header">
      <i class="fa fa-lightbulb-o"></i> Netiquette
      <a class="close" ng-click="clickToolTip()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      What we’d suggest you start on is definition of netiquette! Next suggested topic would be fundamental concepts. After that, the core rules of netiquette. And then the activity.
    </div>
  </div>
</div>
