<div class="center">
  <div class="container">

    <div class="menu-button col-xs-12 col-sm-6">
      <img src="images/Definition-of-Netiquette.png" style="width: 200px;">
      <br> <br>
      <a ui-sref="netsafe.definition"> Definition of Netiquette </a>
    </div>

    <div class="menu-button col-xs-12 col-sm-6">
      <img src="images/Fundamental-Concepts.png" style="width: 200px;">
      <br> <br>
      <a ui-sref="netsafe.fundamental"> Fundamental Concepts </a>
    </div>

    <div class="space col-sm-12"></div>

    <div class="menu-button col-xs-12 col-sm-6">
      <img src="images/Core-Rules-of-Netiquette.png" style="width: 200px;">
      <br> <br>
      <a ui-sref="netsafe.rules"> Core Rules of Netiquette </a>
    </div>

    <div class="menu-button col-xs-12 col-sm-6">
      <img src="images/Netiquette-Assessment.png" style="width: 200px;">
      <br> <br>
      <a ui-sref="netsafe.netivity"> Netiquette Activities </a>
    </div>

  </div>
</div>



<div class="help" ng-show="clicked">
  <div class="help-modal">
    <div class="help-header">
      Netiquette
      <a class="close" ng-click="clickHelp()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Choose between the four sub-topics to start your lesson!
    </div>
  </div>
</div>
