<div class="center">
  <div class="container">

    <div class="menu-button col-xs-12 col-sm-6"> 
      <img src="http://placehold.it/200x200">
      <br> <br>
      <a ui-sref="netsafe.definition"> Definition of Netiquette </a>
    </div>
    
    <div class="menu-button col-xs-12 col-sm-6"> 
      <img src="http://placehold.it/200x200">
      <br> <br>
      <a ui-sref="netsafe.fundamental"> Funadmental Concepts </a>
    </div>

    <div class="space col-sm-12"></div>
    
    <div class="menu-button col-xs-12 col-sm-6"> 
      <img src="http://placehold.it/200x200">
      <br> <br>
      <a ui-sref="netsafe.rules"> Core Rules of Netiquette </a>
    </div>

    <div class="menu-button col-xs-12 col-sm-6"> 
      <img src="http://placehold.it/200x200">
      <br> <br>
      <a ui-sref="netsafe.netivity"> Netiquette Activities </a>
    </div>

  </div>
</div>