<div class="header">
  Pharming
</div>

<div class="center">
  <div class="container">
    <!-- FOR NATIVE APP -->
    <!-- <video controls="controls">
      <source src="videos/Pharming.mp4" type="video/mp4">
    </video> -->

    <div class="embed-responsive embed-responsive-16by9">
      <youtube-video class="embed-responsive-item" video-url="pharmingVid" player-vars="playerVars"></youtube-video>
    </div>

    <!-- <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/S3-GvYfb2cI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div> -->

    <div id="footer">
      <button class="prev" ui-sref="netsafe.phishing"> ◀︎ Phishing </button>
      <button class="next" ui-sref="netsafe.rogue"> Rogue Security Software ▶︎ </button>
    </div>

  </div>
</div>

<div class="help" ng-show="clicked">
  <div class="help-modal">
    <div class="help-header">
      Pharming
      <a class="close" ng-click="clickHelp()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Pharming is very similar to phishing as they both rely on bogus websites to retrieve personal
      information. The difference is that in pharming, users are redirected to bogus websites, even if
      they typed in the correct address. This is common on banks or e-commerce websites. The primary
      method to pharm comes from DNS cache poisoning where an attack is made against the Internet naming
      system which allows users to visit a website through meaningful names, compared to a series of numbers
      or IP addresses.
      <br><br>You can protect yourself from pharming attacks by using a trustworthy internet service provider.
      Always check the address bar on the browser. Make sure that once the page has fully loaded, the URL
      is spelled correctly. As with any malwares, an anti-virus software can also protect you against
      pharming attacks, especially when you have entered an unsecured website.
    </div>
  </div>
</div>

<div class="help" ng-show="clickedTool">
  <div class="help-modal">
    <div class="help-header">
      Pharming
      <a class="close" ng-click="clickToolTip()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Press the play button to play video on Pharming.
      <br>
      You may also click the help button to see the definition and other information about Pharming.
      <br>
      At the bottom of the page, you may click the buttons to go back to the Phishing page or proceed to Rogue Security Software.
    </div>
  </div>
</div>
