<div class="header">
  Phishing
  <div class="space" ng-show="ppdVal"></div>
</div>

<div class="center">
  <div class="container" style="padding-top: 30px;">

    <div class="embed-responsive embed-responsive-16by9">
      <youtube-video class="embed-responsive-item" video-url="phishingVid" player-vars="playerVars"></youtube-video>
    </div>

    <div class="space" ng-show="ppdVal"></div>
    <div id="suggestedDiscussion" ng-show="ppdVal"> Suggested Discussion </div>

    <div id="footer">
      <button class="prev" ui-sref="netsafe.spam"> ◀︎ Spam </button>
      <button class="next" ui-sref="netsafe.pharming"> Pharming ▶︎ </button>
    </div>
    <div class="space"></div>

  </div>
</div>

<div class="help" ng-show="clicked">
  <div class="help-modal">
    <div class="help-header">
      <i class="fa fa-question-circle-o"></i> Phishing
      <a class="close" ng-click="clickHelp()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Phishing is the act of when an email is sent out falsely claiming that they are a legitimate business
      to scam its recipients into giving out sensitive information, this can result to identity theft.
      Most phishing attempts direct users to a bogus website in which they are to update their personal
      information.
      <br><br>To avoid phishing attacks, one must refrain from sending personal or financial information
      through email, as it is not a secure method of transmitting personal information. If and when you
      must provide your personal information, make sure that it is actually the organization’s website
      and that it is secure. Last but not the least, review credit card and bank account statements as
      soon as you receive them to check for unauthorized charges. Always alert your bank and other
      important organizations when you suspect that you are under attack.
    </div>
  </div>
</div>

<div class="help" ng-show="clickedTool">
  <div class="help-modal">
    <div class="help-header">
      <i class="fa fa-lightbulb-o"></i> Phishing
      <a class="close" ng-click="clickToolTip()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Press the play button to play video on Phishing.
      <br>
      You may also click the help button to see the definition and other information about Phishing.
      <br>
      At the bottom of the page, you may click the buttons to go back to the Spam page or proceed to Pharming.
    </div>
  </div>
</div>
