<div class="header">
  Cyberattack Prevention
  <div class="space" ng-show="ppdVal"></div>
</div>

<div class="center">
  <div class="container" style="padding-top: 30px;">

    <div class="embed-responsive embed-responsive-16by9">
      <youtube-video class="embed-responsive-item" video-url="preventionVid" player-vars="playerVars"></youtube-video>
    </div>

    <div class="space" ng-show="ppdVal"></div>
    <div id="suggestedDiscussion" ng-show="ppdVal"> Suggested Discussion </div>

    <div id="footer">
      <button class="prev" ui-sref="netsafe.rogue"> ◀︎ Rogue Security Software </button>
      <button class="next" ui-sref="netsafe.activity"> Safety and Security Acitivty ▶︎ </button>
    </div>
    <div class="space"></div>

  </div>
</div>

<div class="help" ng-show="clicked">
  <div class="help-modal">
    <div class="help-header">
      <i class="fa fa-question-circle-o"></i> Cyberattack Prevention
      <a class="close" ng-click="clickHelp()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Here are general tips to avoid cyberattacks: <br><br>

      <b>1.</b>  Do not open emails that are suspicious or that come from an unknown source.
      <br> - Suspicious emails may contain downloadable files that contain malware. Files should come from the company website
      <br>
      <b>2.</b>  Avoid clicking links that come from emails. Only open links that are sent by people you know.
      <br> - When you receive emails that seem reliable, always double check the email address to ensure that the sender is legitimate. Spelling mistakes and grammatical errors may be signs of a scam.
      <br>
      <b>3.</b>  Always check if the web address is secure.
      <br>
      <b>4.</b>  Avoid going to malicious or unreliable websites and if you do see ads, Never click the ads in any website.
      <br>
      <b>5.</b> Avoid giving out personal information on the internet. Anything placed on the internet is there forever.
      <br>
      <b>6.</b> If you see unfamiliar extensions, toolbars, and home pages, go to your settings and delete them accordingly.
      <br>
      <b>7.</b> Use anti viruses and firewalls to prevent  malwares from activating.
      <br>
      <b>8.</b> Never share your passwords to anyone, even to people you can trust.
      <br>
      <b>9.</b> When adding people in social media, always double check if the person adding you is really them through external means such as texting or word of mouth.
    </div>
  </div>
</div>

<div class="help" ng-show="clickedTool">
  <div class="help-modal">
    <div class="help-header">
      <i class="fa fa-lightbulb-o"></i> Cyberattack Prevention
      <a class="close" ng-click="clickToolTip()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Press the play button to play video on Cyberattack Prevention.
      <br>
      You may also click the help button to see the definition and other information about Cyberattack Prevention.
      <br>
      At the bottom of the page, you may click the buttons to go back to the Rogue Security Software page or proceed to Online Safety and Security Activity page.
    </div>
  </div>
</div>
