<div class="header">
  Rogue Security Software
</div>

<div class="center">
  <div class="container">

	ROGUE PAGE

  </div>
</div>

<div class="help" ng-show="clicked">
  <div class="help-modal">
    <div class="help-header">
      Rogue Security Software
      <a class="close" ng-click="clickHelp()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Rogue security software acts as security software that detect malwares and remove them for free.
      When the user runs a scan for malware, it will show them bogus detections and warnings, where they
      will need to pay to “register” or remove the fake threats. These softwares can be installed in the
      computer, just like any malware. It could be downloaded and installed by other malware or even through
      social engineering.
      <br><br> The best way to protect yourself from rogue security softwares is to prevent them from being
      installed from the first place. Additional security measures that protects yourself from malwares will
      also help.

    </div>
  </div>
</div>
