<div class="header">
  Rogue Security Software
</div>

<div class="center">
  <div class="container">

    <!-- FOR NATIVE APP -->
    <!-- <video controls="controls">
      <source src="videos/RogueSecuritySoftware.mp4" type="video/mp4">
    </video> -->

    <div class="embed-responsive embed-responsive-16by9">
      <youtube-video class="embed-responsive-item" video-url="rogueVid" player-vars="playerVars"></youtube-video>
    </div>

    <!-- <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/E4BaYDaJiJ0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div> -->

    <div id="footer">
      <button class="prev" ui-sref="netsafe.pharming"> ◀︎ Pharming </button>
      <button class="next" ui-sref="netsafe.prevention"> Cyberattack Prevention ▶︎ </button>
    </div>

  </div>
</div>

<div class="help" ng-show="clicked">
  <div class="help-modal">
    <div class="help-header">
      <i class="fa fa-question-circle-o"></i> Rogue Security Software
      <a class="close" ng-click="clickHelp()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Rogue security software acts as security software that detect malwares and remove them for free.
      When the user runs a scan for malware, it will show them bogus detections and warnings, where they
      will need to pay to “register” or remove the fake threats. These softwares can be installed in the
      computer, just like any malware. It could be downloaded and installed by other malware or even through
      social engineering.
      <br><br> The best way to protect yourself from rogue security softwares is to prevent them from being
      installed from the first place. Additional security measures that protects yourself from malwares will
      also help.

    </div>
  </div>
</div>

<div class="help" ng-show="clickedTool">
  <div class="help-modal">
    <div class="help-header">
      <i class="fa fa-lightbulb-o"></i> Rogue Security Software
      <a class="close" ng-click="clickToolTip()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Press the play button to play video on Rogue Security Software.
      <br>
      You may also click the help button to see the definition and other information about Rogue Security Software.
      <br>
      At the bottom of the page, you may click the buttons to go back to the Pharming page or proceed to Online Safety and Security Activity.
    </div>
  </div>
</div>
