<div class="header">
  10 Core Rules Of Netiquette
</div>

<div class="center">
	<div class="container">
		<div class="carousel">
			<div> <!-- RULE # 1 -->
        <div class="rule-title">
          Rule 1: Remember the Human
        </div>
        <div class="core-scenario">
          Thomas is a budding digital artist. He is proud of his works so he posts his
          digital artworks on his facebook page. He received an email from some fellow
          he has never met. This fellow tells Thomas that his works are trash and should
          quit creating digital arts.
        </div>
        <table class="core-table">
          <tr>
            <th class="core-question"> What is needed in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer1Clicked1" ng-click="answer1Clicked1 = !answer1Clicked1">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer1Clicked1" ng-click="answer1Clicked1 = !answer1Clicked1">
                Posting digital artworks of Thomas
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> Who are involved in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer2Clicked1" ng-click="answer2Clicked1 = !answer2Clicked1">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer2Clicked1" ng-click="answer2Clicked1 = !answer2Clicked1">
                Thomas and an anonymous fellow
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> Who and what are affected by the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer3Clicked1" ng-click="answer3Clicked1 = !answer3Clicked1">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer3Clicked1" ng-click="answer3Clicked1 = !answer3Clicked1">
                Thomas
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What tools are used in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer4Clicked1" ng-click="answer4Clicked1 = !answer4Clicked1">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer4Clicked1" ng-click="answer4Clicked1 = !answer4Clicked1">
                E-mail and Facebook
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What are the actions of the people involved? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer5Clicked1" ng-click="answer5Clicked1 = !answer5Clicked1">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer5Clicked1" ng-click="answer5Clicked1 = !answer5Clicked1">
                Thomas posted his digital artworks on his facebook page.
                <br>
                The anonymous fellow emailed Thomas that his digital artworks
                are trash and should quit creating digital arts.
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What guidelines are related to the scenario? </th>
            <th class="core-answer"> Remember the Human </th>
          </tr>
        </table>
      </div>

			<div> <!-- RULE # 2 -->
        <div class="rule-title">
          Rule 2: Adhere to the same standards of behavior online that you follow in real life
        </div>
        <div class="core-scenario">
          Michelle is the class beadle in one of her classes. She sent friend
          requests to her classmates to be able to add them in their class’ facebook group.
          One of her classmates, Kenneth, confirmed the friend request and it appeared on their
          newsfeeds. It says “Michelle Dy and Kenneth Agustin are now friends.”  Kenneth’s
          friends wrote disgusting comments on their “new friendship report” just to make fun of him.
          Michelle read these comments and felt disrespected and objectified by Kenneth’s friends.
        </div>
        <table class="core-table">
          <tr>
            <th class="core-question"> What is needed in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer1Clicked2" ng-click="answer1Clicked2 = !answer1Clicked2">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer1Clicked2" ng-click="answer1Clicked2 = !answer1Clicked2">
                Add classmates in their class’ facebook group
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> Who are involved in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer2Clicked2" ng-click="answer2Clicked2 = !answer2Clicked2">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer2Clicked2" ng-click="answer2Clicked2 = !answer2Clicked2">
                Michelle, Kenneth, and Kenneth’s friends
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> Who and what are affected by the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer3Clicked2" ng-click="answer3Clicked2 = !answer3Clicked2">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer3Clicked2" ng-click="answer3Clicked2 = !answer3Clicked2">
                Michelle and Kenneth
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What tools are used in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer4Clicked2" ng-click="answer4Clicked2 = !answer4Clicked2">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer4Clicked2" ng-click="answer4Clicked2 = !answer4Clicked2">
                Facebook
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What are the actions of the people involved? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer5Clicked2" ng-click="answer5Clicked2 = !answer5Clicked2">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer5Clicked2" ng-click="answer5Clicked2 = !answer5Clicked2">
                Michelle sent friend requests to her classmates.
                <br>
                Kenneth confirmed the friend request of Michelle.
                <br>
                Kenneth’s friends commented disgusting things on the “new friendship report” of Kenneth and Michelle.
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What guidelines are related to the scenario? </th>
            <th class="core-answer"> Adhere to the same standards of behavior online that you follow in real life </th>
          </tr>
        </table>
      </div>

			<div> <!-- RULE # 3 -->
        <div class="rule-title">
          Rule 3: Know where you are in cyberspace
        </div>
        <div class="core-scenario">
          Martin is a current high school student. He uses millennial words and phrases when
          texting or chatting with his friends. He needs to send an email to his teacher asking
          about their class project. In his email, he used the words and phrases , “TBH”, “on fleek”,
          “lit”,  and “jk”. His teacher replied to his email telling him to be more professional and
          use proper words when writing emails.
        </div>
        <table class="core-table">
          <tr>
            <th class="core-question"> What is needed in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer1Clicked3" ng-click="answer1Clicked3 = !answer1Clicked3">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer1Clicked3" ng-click="answer1Clicked3 = !answer1Clicked3">
                Martin needs to send an email to his teacher
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> Who are involved in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer2Clicked3" ng-click="answer2Clicked3 = !answer2Clicked3">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer2Clicked3" ng-click="answer2Clicked3 = !answer2Clicked3">
                Martin and his teacher
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> Who and what are affected by the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer3Clicked3" ng-click="answer3Clicked3 = !answer3Clicked3">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer3Clicked3" ng-click="answer3Clicked3 = !answer3Clicked3">
                Martin
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What tools are used in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer4Clicked3" ng-click="answer4Clicked3 = !answer4Clicked3">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer4Clicked3" ng-click="answer4Clicked3 = !answer4Clicked3">
                Email and millennial words and phrases
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What are the actions of the people involved? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer5Clicked3" ng-click="answer5Clicked3 = !answer5Clicked3">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer5Clicked3" ng-click="answer5Clicked3 = !answer5Clicked3">
                Martin sent an email to his teacher containing millennial words and phrases such as “TBH”,
                “on fleek”, “lit”, and “jk”
                <br>
                Martin’s teacher replied to him and said that he should use proper words and be more
                professional in writing important emails
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What guidelines are related to the scenario? </th>
            <th class="core-answer"> Know where you are in cyberspace </th>
          </tr>
        </table>
      </div>

			<div> <!-- RULE # 4 -->
        <div class="rule-title">
          Rule 4: Respect other people’s time and bandwidth
        </div>
        <div class="core-scenario">
          Trixie is trying to fix a bug in her code. However, after her several attempts to fix
          it she still can’t make her program work. So, she posted her problem with her code on
          an online discussion group several times thinking that she could get answers right away in doing so.
        </div>
        <table class="core-table">
          <tr>
            <th class="core-question"> What is needed in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer1Clicked4" ng-click="answer1Clicked4 = !answer1Clicked4">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer1Clicked4" ng-click="answer1Clicked4 = !answer1Clicked4">
                Fix a bug in Trixie’s code
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> Who are involved in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer2Clicked4" ng-click="answer2Clicked4 = !answer2Clicked4">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer2Clicked4" ng-click="answer2Clicked4 = !answer2Clicked4">
                Trixie and people in the discussion group
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> Who and what are affected by the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer3Clicked4" ng-click="answer3Clicked4 = !answer3Clicked4">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer3Clicked4" ng-click="answer3Clicked4 = !answer3Clicked4">
                Trixie and people in the discussion group
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What tools are used in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer4Clicked4" ng-click="answer4Clicked4 = !answer4Clicked4">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer4Clicked4" ng-click="answer4Clicked4 = !answer4Clicked4">
                Online discussion group
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What are the actions of the people involved? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer5Clicked4" ng-click="answer5Clicked4 = !answer5Clicked4">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer5Clicked4" ng-click="answer5Clicked4 = !answer5Clicked4">
                Trixie posted her problem in her code multiple times in the discussion group.
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What guidelines are related to the scenario? </th>
            <th class="core-answer"> Respect other people’s time and bandwidth </th>
          </tr>
        </table>
      </div>

			<div> <!-- RULE # 5 -->
        <div class="rule-title">
          Rule 5: Make yourself look good online
        </div>
        <div class="core-scenario">
          George decided to have an online diary thru a blog. He usually writes about things
          that interest him or what is interesting about his day.  However, people who read his
          blog left comments saying that some of his posts are incoherent, there are a lot of
          grammatical errors, and contains unpleasant words. This made him mad so he deleted his blog.
        </div>
        <table class="core-table">
          <tr>
            <th class="core-question"> What is needed in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer1Clicked5" ng-click="answer1Clicked5 = !answer1Clicked5">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer1Clicked5" ng-click="answer1Clicked5 = !answer1Clicked5">
                Writing an online diary/ blog
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> Who are involved in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer2Clicked5" ng-click="answer2Clicked5 = !answer2Clicked5">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer2Clicked5" ng-click="answer2Clicked5 = !answer2Clicked5">
                George and other people reading his blog
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> Who and what are affected by the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer3Clicked5" ng-click="answer3Clicked5 = !answer3Clicked5">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer3Clicked5" ng-click="answer3Clicked5 = !answer3Clicked5">
                George
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What tools are used in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer4Clicked5" ng-click="answer4Clicked5 = !answer4Clicked5">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer4Clicked5" ng-click="answer4Clicked5 = !answer4Clicked5">
                Blog
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What are the actions of the people involved? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer5Clicked5" ng-click="answer5Clicked5 = !answer5Clicked5">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer5Clicked5" ng-click="answer5Clicked5 = !answer5Clicked5">
                George posted personal accounts of his day or his thoughts containing
                grammatical errors, unpleasant words, and some are incoherent.
                <br>
                People who read his blog pointed out his errors.
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What guidelines are related to the scenario? </th>
            <th class="core-answer"> Make yourself look good online </th>
          </tr>
        </table>
      </div>

			<div> <!-- RULE # 6 -->
        <div class="rule-title">
          Rule 6: Share expert knowledge
        </div>
        <div class="core-scenario">
          Marc is a college student taking up computer science. He is a good programmer.
          He usually visits online discussion groups related to programming such as stack overflow
          to read some programming techniques he could use. While traversing through the site,
          he saw a newly posted question of another person which he knows the answer to. But he thinks
          that it’s an easy question so he did not bother to answer it.
        </div>
        <table class="core-table">
          <tr>
            <th class="core-question"> What is needed in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer1Clicked6" ng-click="answer1Clicked6 = !answer1Clicked6">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer1Clicked6" ng-click="answer1Clicked6 = !answer1Clicked6">
                To get answers on one of the questions in the online discussion group
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> Who are involved in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer2Clicked6" ng-click="answer2Clicked6 = !answer2Clicked6">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer2Clicked6" ng-click="answer2Clicked6 = !answer2Clicked6">
                Marc
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> Who and what are affected by the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer3Clicked6" ng-click="answer3Clicked6 = !answer3Clicked6">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer3Clicked6" ng-click="answer3Clicked6 = !answer3Clicked6">
                Person
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What tools are used in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer4Clicked6" ng-click="answer4Clicked6 = !answer4Clicked6">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer4Clicked6" ng-click="answer4Clicked6 = !answer4Clicked6">
                Online discussion group
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What are the actions of the people involved? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer5Clicked6" ng-click="answer5Clicked6 = !answer5Clicked6">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer5Clicked6" ng-click="answer5Clicked6 = !answer5Clicked6">
                Marc visits online discussion groups related to programming.
                <br>
                Marc ignored the question of a person needing help in his/her code.
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What guidelines are related to the scenario? </th>
            <th class="core-answer"> Share expert knowledge </th>
          </tr>
        </table>
      </div>

			<div> <!-- RULE # 7 -->
        <div class="rule-title">
          Rule 7: Help keep flame wars under control
        </div>
        <div class="core-scenario">
          Donald read his friend’s opinion on LGBT. His friend is a passionate advocate of anti-discrimination,
          especially about LGBT rights. After reading his friend’s post on facebook, Donald commented and
          expressed his strong disagreement on his friend’s opinion. This caused an exchange of heated commentaries
          between the two. A lot of people saw the thread of comments and joined in the argument. Some people even
          taunted both parties and made the conversation more heated.
        </div>
        <table class="core-table">
          <tr>
            <th class="core-question"> What is needed in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer1Clicked7" ng-click="answer1Clicked7 = !answer1Clicked7">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer1Clicked7" ng-click="answer1Clicked7 = !answer1Clicked7">
                Expressing one’s  opinion online
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> Who are involved in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer2Clicked7" ng-click="answer2Clicked7 = !answer2Clicked7">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer2Clicked7" ng-click="answer2Clicked7 = !answer2Clicked7">
                Donald, Donald’s friend, and other people
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> Who and what are affected by the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer3Clicked7" ng-click="answer3Clicked7 = !answer3Clicked7">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer3Clicked7" ng-click="answer3Clicked7 = !answer3Clicked7">
                Donald and Donald’s friend
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What tools are used in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer4Clicked7" ng-click="answer4Clicked7 = !answer4Clicked7">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer4Clicked7" ng-click="answer4Clicked7 = !answer4Clicked7">
                Facebook
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What are the actions of the people involved? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer5Clicked7" ng-click="answer5Clicked7 = !answer5Clicked7">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer5Clicked7" ng-click="answer5Clicked7 = !answer5Clicked7">
                Donald’s friend posted his opinion about LGBT on facebook.
                <br>
                Donald strongly expressed his disagreement towards his friend’s opinion.
                <br>
                Other people taunted and joined in the heated conversation of the two.
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What guidelines are related to the scenario? </th>
            <th class="core-answer"> Help keep flame wars under control </th>
          </tr>
        </table>
      </div>

			<div> <!-- RULE # 8 -->
        <div class="rule-title">
          Rule 8: Respect other people’s privacy
        </div>
        <div class="core-scenario">
          Wayne recently learned how to hack someone’s facebook account. To test if he could do
          it again and to practice his newly acquired “skill”, he tried to hack one of his friend’s
          account. He successfully gained access to his friend’s account and out of curiosity,
          he read some of his friend’s personal messages to other people.
        </div>
        <table class="core-table">
          <tr>
            <th class="core-question"> What is needed in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer1Clicked8" ng-click="answer1Clicked8 = !answer1Clicked8">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer1Clicked8" ng-click="answer1Clicked8 = !answer1Clicked8">
                To test and practice Wayne’s hacking skills
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> Who are involved in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer2Clicked8" ng-click="answer2Clicked8 = !answer2Clicked8">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer2Clicked8" ng-click="answer2Clicked8 = !answer2Clicked8">
                Wayne and his friend
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> Who and what are affected by the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer3Clicked8" ng-click="answer3Clicked8 = !answer3Clicked8">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer3Clicked8" ng-click="answer3Clicked8 = !answer3Clicked8">
                Wayne’s friend
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What tools are used in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer4Clicked8" ng-click="answer4Clicked8 = !answer4Clicked8">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer4Clicked8" ng-click="answer4Clicked8 = !answer4Clicked8">
                Facebook and hacking tools
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What are the actions of the people involved? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer5Clicked8" ng-click="answer5Clicked8 = !answer5Clicked8">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer5Clicked8" ng-click="answer5Clicked8 = !answer5Clicked8">
                Wayne hacked his friend’s facebook account.
                <br>
                Wayne read some of his friend’s personal messages to other people.
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What guidelines are related to the scenario? </th>
            <th class="core-answer"> Respect other people’s privacy </th>
          </tr>
        </table>
      </div>

			<div> <!-- RULE # 9 -->
        <div class="rule-title">
          Rule 9: Don’t abuse your power
        </div>
        <div class="core-scenario">
          Justin works in the IT department of his company. He works as a system admin
          in their company system. He had a crush on one of his workmates, Karen. To impress her,
          he started stalking Karen in her social media accounts and even accessed her company email
          to gather information about her. His actions were found out and he lost his job.
        </div>
        <table class="core-table">
          <tr>
            <th class="core-question"> What is needed in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer1Clicked9" ng-click="answer1Clicked9 = !answer1Clicked9">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer1Clicked9" ng-click="answer1Clicked9 = !answer1Clicked9">
                To impress Karen
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> Who are involved in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer2Clicked9" ng-click="answer2Clicked9 = !answer2Clicked9">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer2Clicked9" ng-click="answer2Clicked9 = !answer2Clicked9">
                Justin and Karen
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> Who and what are affected by the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer3Clicked9" ng-click="answer3Clicked9 = !answer3Clicked9">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer3Clicked9" ng-click="answer3Clicked9 = !answer3Clicked9">
                Justin and Karen
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What tools are used in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer4Clicked9" ng-click="answer4Clicked9 = !answer4Clicked9">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer4Clicked9" ng-click="answer4Clicked9 = !answer4Clicked9">
                Company system, company email, and social media accounts
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What are the actions of the people involved? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer5Clicked9" ng-click="answer5Clicked9 = !answer5Clicked9">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer5Clicked9" ng-click="answer5Clicked9 = !answer5Clicked9">
                Justin stalked Karen in her social media accounts and accessed her company email.
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What guidelines are related to the scenario? </th>
            <th class="core-answer"> Don’t abuse your power </th>
          </tr>
        </table>
      </div>

			<div> <!-- RULE # 10 -->
        <div class="rule-title">
          Rule 10: Be forgiving of other people’s mistakes
        </div>
        <div class="core-scenario">
          Sophiya is a history major student. One of her friends, Cassie, shared a post on
          facebook about a trivia on Julius Casear. She found a minor error and corrected her
          friend’s mistake on the comments section. Sophiya’s friend got embarrassed and immediately
          deleted her post after reading Sophiya’s correction.
        </div>
        <table class="core-table">
          <tr>
            <th class="core-question"> What is needed in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer1Clicked" ng-click="answer1Clicked = !answer1Clicked">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer1Clicked" ng-click="answer1Clicked = !answer1Clicked">
                Share a trivia about Julius Caesar
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> Who are involved in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer2Clicked" ng-click="answer2Clicked = !answer2Clicked">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer2Clicked" ng-click="answer2Clicked = !answer2Clicked">
                Sophiya and Cassie
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> Who and what are affected by the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer3Clicked" ng-click="answer3Clicked = !answer3Clicked">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer3Clicked" ng-click="answer3Clicked = !answer3Clicked">
                Cassie
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What tools are used in the scenario? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer4Clicked" ng-click="answer4Clicked = !answer4Clicked">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer4Clicked" ng-click="answer4Clicked = !answer4Clicked">
                Facebook
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What are the actions of the people involved? </th>
            <th class="core-answer">
              <div class="hidden-answer" ng-hide="answer5Clicked" ng-click="answer5Clicked = !answer5Clicked">
                [CLICK TO SEE ANSWER]
              </div>
              <div ng-show="answer5Clicked" ng-click="answer5Clicked = !answer5Clicked">
                Cassie shared a post on facebook about a trivia on Julius Caesar.
                <br>
                Sohpiya corrected the minor error in Cassie’s post.
                <br>
                Cassie deleted her post.
              </div>
            </th>
          </tr>

          <tr>
            <th class="core-question"> What guidelines are related to the scenario? </th>
            <th class="core-answer"> Be forgiving of other people’s mistake </th>
          </tr>
        </table>
      </div>


		</div>
	</div>
</div>

<div class="help" ng-show="clicked">
  <div class="help-modal">
    <div class="help-header">
      Core Rules on Netiquette
      <a class="close" ng-click="clickHelp()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      hello im help
    </div>
  </div>
</div>
