<div class="center">
	<div class="container">
		<div class="carousel">
			<div>10 Core Rules of Netiquette</div>
			<div>Rule 1</div>
			<div>Rule 2</div>
			<div>Rule 3</div>
			<div>Rule 4</div>
			<div>Rule 5</div>
			<div>Rule 6</div>
			<div>Rule 7</div>
			<div>Rule 8</div>
			<div>Rule 9</div>
			<div>Rule 10</div>
		</div>
	</div>
</div>

<div class="help" ng-show="clicked">
  <div class="help-modal">
    <div class="help-header">
      Core Rules on Netiquette
    </div>
    <div class="help-content">
      hello im help
    </div>
  </div>
</div>