<div class="header">
  10 Core Rules Of Netiquette
</div>
<br>

<div id="netivity-scenario-nav">
  <p>
    <button ng-repeat="rule in contentRules track by $index"
            ng-click="showRule($index)"
            id="button-num-($index)"
            class="button-num"
            ng-class="{active: $parent.currentRule === $index }">
      {{$index+1}}
    </button>
  </p>
</div>

<br><br>

<div class="scenario-content"
     ng-repeat="rule in contentRules track by $index"
     ng-show="$parent.currentRule === $index">

  <div class="rule-title">
    {{rule.rule}}
    <button class="center-me" ng-click="ruleDescription = !ruleDescription" style="float: right; padding: 0 2 0 2px; width: 20px; margin-top: 10px;">
      <i ng-show="!ruleDescription" class="fa fa-eye" style="font-size: 12px"></i>
      <i ng-show="ruleDescription" class="fa fa-eye-slash" style="font-size: 12px"></i>
    </button>
  </div>

  <div class="rule-description" ng-show="ruleDescription">
    {{rule.description}}
  </div>

  <br>

  <table class="core-table" style="width: 80%" ng-show="doDontTable" >
    <tr>
      <th style="width: 50%">Do's</th>
      <th style="width: 50%">Don'ts</th>
    </tr>

    <tr>
      <td class="table-content" style="text-align: left;">
        <ul>
          <li ng-repeat="do in rule.dos" style="list-style-type: circle; margin-left: 25px;">
            {{do}}
          </li>
        </ul>
      </td>
      <td class="table-content" style="text-align: left;">
        <ul>
          <li ng-repeat="dont in rule.donts" style="list-style-type: circle; margin-left: 25px;">
            {{dont}}
          </li>
        </ul>
      </td>
    </tr>
  </table>

  <div class="center-me">
    <button class="tables-button" ng-click="doDontTable = !doDontTable">
      <span ng-show="!doDontTable"> Show <b>Do / Dont Table</b> </span>
      <span ng-show="doDontTable"> Hide <b>Do / Dont Table</b> </span>
    </button>
    <button class="tables-button" ng-click="scenarioContent = !scenarioContent">
      <span ng-show="!scenarioContent"> Show <b>Scenario</b> </span>
      <span ng-show="scenarioContent"> Hide <b>Scenario</b> </span>
    </button>
  </div>

  <div ng-show="scenarioContent">
    <div class="core-scenario" style="text-align: center;">
      {{rule.scenario}}
    </div>

    <div class="center-me">
      <button id="tables-button-1" class="tables-button" ng-click="openTable(1)" ng-class="{ active: elementsTable }"><b>①</b> Elements Table</button>
      <button id="tables-button-2" class="tables-button" ng-click="openTable(2)" ng-model="isDisabled" ng-disabled="isDisabled" ng-class="{ active: causeEffectTable }"><b>②</b> Cause and Effect Table</button>
    </div>

    <div ng-show="elementsTable">
      <table class="core-table" style="width: 80%">
        <tr>
          <th style="width: 33%">Element</th>
          <th style="width: 33%">Guideline Elements</th>
          <th style="width: 33%">Scenario Elements</th>
        </tr>

        <tr ng-repeat="question in questions">
          <td class="core-question" style="text-align: left;"> {{question}} </td>

          <td class="table-content" style="text-align: left;" ng-repeat="element in rule.elements[$index] track by $index">
            {{element}}
          </td>

          <td>
            <span ng-click="viewAnswer($index)" ng-show="!answerClicked[$index]" class="hidden-answer center-me">
              [ CLICK TO SEE ANSWER ]
            </span>
            <span ng-show="answerClicked[$index]">
              {{rule.selements[$index]}}
            </span>
          </td>
        </tr>
      </table>

      <div class="center-me">
        <button class="tables-button" ng-click="showAll()">Show All Answers</button>
      </div>
    </div>

    <div ng-show="causeEffectTable">
      <a ng-model="highlightToggle" ng-click="highlight($parent.currentRule)">
        <div class="check-button">
          <span ng-show="!highlightToggle"> Highlight Violated Actions </span>
          <span ng-show="highlightToggle"> Unhighlight Violated Actions </span>
        </div>
      </a>
      <br>

      <table class="core-table" style="width: 80%">
        <tr>
          <th>Cause and Effect Table</th>
        </tr>

        <tr ng-repeat-start="labor in rule.labors" class="action action-{{$index}}" ng-class="{ negated: laborClicked[$index] }">
          <td>
            <div ng-hide="laborClicked[$index]">
                {{labor.old}}
                <a class="negate center-me" ng-click="negateLabor($index, $parent.currentRule)" style="float: right;" title="Negate the corresponding action">
                  <i class="fa fa-ban"></i>
                </a>

            </div>
            <div ng-show="laborClicked[$index]">
                {{labor.new}}
            </div>
          </td>
        </tr>
        <tr ng-repeat-end ng-if="$index % 1 == 0" ng-hide="$last">
          <td class="center-me"> ▼ </td>
        </tr>
      </table>
      <br>
      <a ng-model="showSolution" ng-click="viewSolution()">
        <div class="check-button">
          <span ng-show="!showSolution"> Show Solution </span>
          <span ng-show="showSolution"> Hide Solution </span>
        </div>
      </a>

      <div ng-show="showSolution">
        <br>
        <table class="core-table" style="width: 80%">
          <tr>
            <th style="width: 20%">Solution</th>
            <td style="width: 80%">{{rule.solution}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div> <!-- div ng-show scenarioContent close-->
</div> <!-- Scenario-content div close -->

<br>
<div id="footer">
  <button id="netivity-prev" class="prev" ui-sref="netsafe.fundamental"> ◀︎ Fundamental Concepts </button>
  <button id="netivity-next" class="next" ui-sref="netsafe.netivity"> Netiquette Activity ▶︎ </button>
</div>

<div class="help" ng-show="clicked">
  <div class="help-modal">
    <div class="help-header">
      <i class="fa fa-question-circle-o"></i> Core Rules on Netiquette
      <a class="close" ng-click="clickHelp()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">

      <div class="sub-topic">
        <div class="malwr-help-btn" id="malwr-help-btn-1" ng-click="showHelpTab(1)">1</div>
        <div class="malwr-help-btn" id="malwr-help-btn-2" ng-click="showHelpTab(2)">2</div>
        <div class="malwr-help-btn" id="malwr-help-btn-3" ng-click="showHelpTab(3)">3</div>
        <div class="malwr-help-btn" id="malwr-help-btn-4" ng-click="showHelpTab(4)">4</div>
        <div class="malwr-help-btn" id="malwr-help-btn-5" ng-click="showHelpTab(5)">5</div>
        <div class="malwr-help-btn" id="malwr-help-btn-6" ng-click="showHelpTab(6)">6</div>
        <div class="malwr-help-btn" id="malwr-help-btn-7" ng-click="showHelpTab(7)">7</div>
        <div class="malwr-help-btn" id="malwr-help-btn-8" ng-click="showHelpTab(8)">8</div>
        <div class="malwr-help-btn" id="malwr-help-btn-9" ng-click="showHelpTab(9)">9</div>
        <div class="malwr-help-btn" id="malwr-help-btn-10" ng-click="showHelpTab(10)">10</div>
      </div>

      <div id="tab-help-content-1" class="tab-help-content">
        <h4><b>Remember the human</b></h4>
        <blockquote> This rule is similar to the expression “Do unto others as you’d have others do unto you”.
        Communicating with others using an electronic device limits the person to only using words.
        Communication in the form limits the person from using facial expressions, gestures and the tone
        of their voice. This concept applies to both sides of the conversation. Because of this limitation,
        misinterpretation could easily happen when communicating via chat, email or posting in discussion
        groups. A person only sees a computer screen when doing this form of communication; because of this,
        the person could have a tendency of forgetting that their recipient is a human too. People can express
        themselves freely and explore what the internet has to offer but one should remember that they are
        interacting with other people as well. <br>
        A good practice when conversing online is to ask the question “Would you say it to the person’s face?”
        If the answer to the question is no then the person should think about rewriting and rereading what
        they have to say until they feel comfortable about what they are about to send.
        </blockquote>
      </div>

      <div id="tab-help-content-2" class="tab-help-content">
        <h4><b>Adhere the same standards of behavior online that you follow in real life</b></h4>
        <blockquote>In real life, people follow the law because you can easily get caught.
        In cyberspace, crime seems to happen more often because it’s a lot harder to track people down.
        Some people forget that there are also people on the other side of the screen and that poor
        ethics is more acceptable in the cyber world. This is a common misconception. The standard of
        behavior for real life and cyberspace are different but they hold equal consequences.
        Doing illegal actions in cyberspace is bad netiquette. Just because it’s harder to get caught
        does not mean that it’s okay.
        </blockquote>
      </div>

      <div id="tab-help-content-3" class="tab-help-content">
        <h4><b>Know where you are in cyberspace </b></h4>
        <blockquote> Netiquette will vary depending on your domain. The actions a person does in some
        websites could be okay in their domain but it might not be acceptable behavior in other domains.
        Posting rumors could be okay in personal blogs but it’s not okay to post that in news forums.
        If a person is new to the domain they must first look around and browse what’s in the domain
        and how the people act in the domain. This will give the person an idea as to how to participate.
        </blockquote>
      </div>

      <div id="tab-help-content-4" class="tab-help-content">
        <h4><b>Respect other people’s time and bandwidth</b></h4>
        <blockquote>People only have limited time. When sending emails or posting in discussion forums or
        groups, it is the responsibility of the person to ensure that the content they are posting or sending
        is worth the time of the reader. Bandwidth is the amount of information that can be carried by wires
        and channels that connect people in cyberspace. Sending messages and uploading content also take up
        bandwidth. Posting a similar comment multiple time not only wastes the time of others but also
        wastes bandwidth. <br>
        A reminder for this rule is that no one is the center of cyberspace. One should not expect that
        others will instantaneously respond to your questions and concerns. It is also important to remember
        that not everyone will agree to what a person has to say no matter how much effort the person has
        put in making that post or comment. <br>
        One more idea to think about before posting is who actually needs to read the message.
        It is easy to send a message to multiple people with the technology we have today and people tend to
        forget to think about the time they are taking up from the person. If another person does not
        necessarily need to see the message, then there is no need to send it to them. Only send it to
        who actually needs it.
        </blockquote>
      </div>

      <div id="tab-help-content-5" class="tab-help-content">
        <h4><b>Make yourself look good online</b></h4>
        <blockquote> When a person is communicating online, it is important for them to know what
        they are talking about. Posting bad information could easily spread in the internet and is
        open to interpretation to others. People cannot control what others do with the content they
        put out but it is their responsibility to keep the posts they make themselves as accurate as
        possible in order to avoid poor interpretation. It is also important to make sure that messages
        a person posts online are logical and grammatically correct. A good way to do this is to keep it
        simple. People tend to use long words in order to give a good impression but it tends to lead to
        the message not making any sense at all. Lastly, people should not use offensive language. Swearing
        is also not acceptable online. People could do it but it will not do anyone any good.
        </blockquote>
      </div>

      <div id="tab-help-content-6" class="tab-help-content">
        <h4><b>Share expert knowledge</b></h4>
        <blockquote> One advantage to cyberspace is the array of people that others can communicate to.
        Many of these people can provide answers to questions of their expertise. This is a reason why
        people tend to ask a lot of questions online. The internet grew because people wanted to share
        information. <br>
        A good tip is for people to share the information that they have in order to help others.
        This will help the community grow.<br>
        If a question has been answered, it is also a good idea to share the results so others can see
        what people have to say about the question. It’s a good idea to write a summary of the results
        to make it easier for others to read about the information that have been gathered. If a person
        is not an expert on content themselves, they could always post reliable resources where people
        could look into. <br>
        </blockquote>
      </div>

      <div id="tab-help-content-7" class="tab-help-content">
        <h4><b>Help keep flame wars under control</b></h4>
        <blockquote> Flaming is when people express their opinions without holding back their emotions.
        Netiquette does not necessarily forbid flaming because flames are entertaining for the most part
        and most of the time, the recipients of these flames deserve it. Even so, netiquette does allow
        prolonged flame wars where people send continuous angry text to one another that destroy the
        camaraderie of the people in the discussion group. Flaming could be entertaining but it gets
        dull as it progresses longer especially if the person reading is uninvolved.
        </blockquote>
      </div>

      <div id="tab-help-content-8" class="tab-help-content">
        <h4><b>Respect other people’s privacy</b></h4>
        <blockquote> This rule is straightforward and has the same application as to how a person
        should respect another person’s privacy in real life. Don’t read other people’s personal
        messages or emails. If the person reading is not the recipient then they are practicing bad
        netiquette. People should not access information that is not meant to be public or not meant for
        them to read.
        </blockquote>
      </div>

      <div id="tab-help-content-9" class="tab-help-content">
        <h4><b>Don’t abuse your power</b></h4>
        <blockquote> Some people have higher access online such as system administrators, developers or
        admins of Multi-user dungeons (MUDs), and experts in every office. Knowing more or having more access
        online does not give a person the right to abuse it. For example, system admins should never read
        private emails of employees.
        </blockquote>
      </div>

      <div id="tab-help-content-10" class="tab-help-content">
        <h4><b>Be forgiving of other people’s mistakes</b></h4>
        <blockquote> When someone makes a mistake online, whether misspelled words, grammatical errors,
        unnecessarily long answer or unintelligent questions, be kind about it. If one  decides to inform
        someone of his/her mistake, he or she must do it politely, and preferably by private email or
        messages rather than in public. It is also advised to think twice before reacting.
        </blockquote>
      </div>


    </div>
  </div>
</div>

<div class="help" ng-show="clickedTool">
  <div class="help-modal">
    <div class="help-header">
      <i class="fa fa-lightbulb-o"></i> Core Rules on Netiquette
      <a class="close" ng-click="clickToolTip()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      <div style="text-align: center; font-size: 16px;">
        <b> Understanding the tables </b><br>
        This is the tab where you can begin to understand what the tables are and how they work in regards with the 10 Core Rules lecture.<br>
        The oranges boxes could be clicked to expand or compress the contents inside of it. <br><br>
      </div>

      <div class="tutorial-steps" ng-click="step1 = !step1">
        <span ng-show="!step1"> Show <b>Step 1</b> Do's and Dont's <b>Table</b></span>
        <span ng-show="step1"> <b>Step 1:</b> Discuss the current netiquette core rule <br>
          A table below is for the do's and don'ts for the specific netiquette core rule. As an example,
          let's use rule 8, Respect other people's privacy. This is also the first table that you will see.
        </span>
      </div>

      <br>

      <div ng-show="step1">
        <table class="core-table" style="width: 95%">
          <tr>
            <th style="width: 50%">Do's</th>
            <th style="width: 50%">Don'ts</th>
          </tr>

          <tr>
            <td class="table-content" style="text-align: left;">
              <ul>
                <li style="list-style-type: circle; margin-left: 25px;">
                  The do’s of the core rule are listed here
                </li>
                <li style="list-style-type: circle; margin-left: 25px;">
                  This is where you can discuss the do's for the specified netiquette core rules
                </li>
              </ul>
            </td>
            <td class="table-content" style="text-align: left;">
              <ul>
                <li style="list-style-type: circle; margin-left: 25px;">
                  The don’ts of the core rule are listed here
                </li>
                <li style="list-style-type: circle; margin-left: 25px;">
                  This is where you can discuss the don'ts for the specified netiquette core rules
                </li>
              </ul>
            </td>
          </tr>
        </table>
        <br>
      </div>

      <div class="tutorial-steps" ng-click="step2 = !step2">
        <span ng-show="!step2"> Show <b>Step 2</b> Scenario</span>
        <span ng-show="step2"> <b>Step 2:</b> Read and understand the scenario <br>
          This will be your basis for dissecting the scenario so you have to be
          aware on how you will identify each element. Here is a sample scenario.
        </span>
      </div>

      <br>

      <div class="core-scenario" style="text-align: center; width: 100%; font-size: 17px; margin-top: -20px;" ng-show="step2">
        Sam accidentally left his Facebook open before leaving the school’s computer lab.
        Clover used the computer after him and started reading his private messages. She
        found out that he was secretly gay and was dating Jerry. The rumor started to spread
        throughout the school and people started mocking them. Because of this, Sam and Alex
        stopped going to school.
      </div>

      <div class="tutorial-steps" ng-click="step3 = !step3">
        <span ng-show="!step3"> Show <b>Step 3</b> Elements <b>Table</b></span>
        <span ng-show="step3"> <b>Step 3:</b> Identifying the elements <br>
          The guideline elements are the elements that pertain to the core rules, a general "template" for the questions.
          The scenario elements, on the other hand, specifically answers the element question that pertain to the scenario presented.
          It has a <b>click to reveal</b> answer feature since it is for lecture.
        </span>
      </div>

      <br>

      <div ng-show="step3">
        <table class="core-table" style="width: 95%">
          <tr>
            <th style="width: 5%">Element</th>
            <th style="width: 60%">Guideline Elements</th>
            <th style="width: 35%">Scenario Elements</th>
          </tr>

          <tr>
            <td class="core-question" style="text-align: left;"> Subject (people active in the scenario) </td>
            <td class="table-content" style="text-align: left;"> Owner and infiltrator
              <div class="tutorial-steps tutorial-steps-table" ng-click="step3a = !step3a">
                <span ng-show="!step3a"> <b>Step 3.a: Subject</b> </span>
                <span ng-show="step3a">
                  <b>Step 3.a: Subject</b> The Subject is/are the people who are active in the scenario.
                  Their actions have direct impact in the scenario.  Sam is a subject because he was the one who
                  left his account open. Clover is a subject because she read his private messages. They are the
                  active elements in the scenario. Jerry is not a subject because he did not do anything in the
                  scenario, thus making him an inactive element. The guideline elements are only the minimum
                  required people for a rule to apply. Other people can also be active in the scenario but are not
                  labelled as any of the guideline subjects. (ex. Sender, receiver and person 3).
                </span>
              </div>
            </td>
            <td class="table-content" style="text-align: left;"> Sam and Clover</td>
          </tr>

          <tr>
            <td class="core-question" style="text-align: left;"> Objective (what is the first action that triggered the chain of events?) </td>
            <td class="table-content" style="text-align: left;"> Access to private Information
              <div class="tutorial-steps tutorial-steps-table" ng-click="step3b = !step3b">
                <span ng-show="!step3b"> <b>Step 3.b: Objective</b> </span>
                <span ng-show="step3b">
                  <b>Step 3.b: Objective</b> The objective is the first action that triggered the series of events. The objective is what
                  causes everything that happens in the scenario. Clover would not have accessed and read Sam’s
                  private messages if he did not accidentally leave his account open. The objective is the main
                  motive of why the event happened in the first place.
                </span>
              </div>
            </td>
            <td class="table-content" style="text-align: left;"> Sam accidentally left his Facebook open before leaving the school’s computer lab. </td>
          </tr>

          <tr>
            <td class="core-question" style="text-align: left;"> Community (Who are involved whether active or inactive) </td>
            <td class="table-content" style="text-align: left;"> Owner and infiltrator
              <div class="tutorial-steps tutorial-steps-table" ng-click="step3c = !step3c">
                <span ng-show="!step3c"> <b>Step 3.c: Community</b> </span>
                <span ng-show="step3c">
                  <b>Step 3.c: Community</b> The community is/are the people who are affected in the scenario whether they are active or
                  inactive. Jerry is affected in the scenario because he was mocked when Sam accidentally left his
                  account open. The guideline elements are only the minimum amount of people for a rule to apply.
                  Other people who are active/inactive in a scenario can also be identified as part of the people who are involved.
                </span>
              </div>
            </td>
            <td class="table-content" style="text-align: left;"> Sam, Clover, and Jerry</td>
          </tr>

          <tr>
            <td class="core-question" style="text-align: left;"> Tools (what tools explicitly used in the scenario) </td>
            <td class="table-content" style="text-align: left;"> Communication Devices
              <div class="tutorial-steps tutorial-steps-table" ng-click="step3d = !step3d">
                <span ng-show="!step3d"> <b>Step 3.d: Tools</b> </span>
                <span ng-show="step3d">
                  <b>Step 3.d: Tools</b> The tool is the objects that are directly related to cyberspace or the type of media explicitly
                  used in the scenario. In this case, Facebook was the only media used in the scenario.
                </span>
              </div>
            </td>
            <td class="table-content" style="text-align: left;"> Facebook</td>
          </tr>
        </table>
      <br>
      </div>

      <div class="tutorial-steps" ng-click="step4 = !step4">
        <span ng-show="!step4"> Show <b>Step 4</b> Cause and Effect <b>Table</b> </span>
        <span ng-show="step4"> <b>Step 4:</b> Negating the causes for an objective solution <br>
          For the lecture, the events that happened are already stated. Every event, besides the first event, is
          caused by another event. Note that the objective is the first event that started the chain of actions of the subject/s.
          Reading the table goes from <b>top to bottom</b>, but negating the causes will be from <b>bottom to top</b>.
          Negating the causes will be done by clicking the negate button (Ø) on the right most of each row. <br>
          Additionally, a highlight button is placed at the top of the table and when it is clicked, it will highlight the
          actions that violated the rule in discussion.
        </span>
      </div>

      <br>

      <div ng-show="step4">
        <a ng-click="tutorialHighlight = !tutorialHighlight">
          <div class="check-button">
            <span ng-show="!tutorialHighlight"> Highlight Violated Actions </span>
            <span ng-show="tutorialHighlight"> Unhighlight Violated Actions </span>
          </div>
        </a>
        <br>

        <table class="core-table" style="width: 95%">
          <tr>
            <th>Cause and Effect Table</th>
          </tr>

          <tr>
            <td>
              <div ng-hide="laborClicked1">
                  Sam accidentally left his facebook account open.
                  <a class="negate center-me" ng-click="tutLaborClick(1)" style="float: right;" title="Negate the corresponding action"> <!-- checkAnswer($index, $parent.$index, 'easy') -->
                    <i class="fa fa-ban"></i>
                  </a>
              </div>
              <div ng-show="laborClicked1" class="action negated">
                  Sam accidentally left his facebook account open.
              </div>
            </td>
          </tr>

          <tr>
            <td class="center-me"> ▼ </td>
          </tr>

          <td>
            <div ng-hide="laborClicked2">
                <span ng-show="tutorialHighlight" class="action highlighted"> Clover read his private messages </span>
                <span ng-show="!tutorialHighlight" class="action"> Clover read his private messages </span>
                <a class="negate center-me" ng-click="tutLaborClick(2)" style="float: right;" title="Negate the corresponding action"> <!-- checkAnswer($index, $parent.$index, 'easy') -->
                  <i class="fa fa-ban"></i>
                </a>
            </div>
            <div ng-show="laborClicked2" class="action negated">
              Clover does not read his private messages
            </div>
          </td>

          <tr>
            <td class="center-me"> ▼ </td>
          </tr>

          <td>
            <div ng-hide="laborClicked3">
                Clover found out that Sam was secretly gay and was dating Jerry.
                <a class="negate center-me" ng-click="tutLaborClick(3)" style="float: right;" title="Negate the corresponding action"> <!-- checkAnswer($index, $parent.$index, 'easy') -->
                  <i class="fa fa-ban"></i>
                </a>
            </div>
            <div ng-show="laborClicked3" class="action negated">
                Clover does not find out that Sam was secretly gay and was dating Jerry.
            </div>
          </td>

          <tr>
            <td class="center-me"> ▼ </td>
          </tr>

          <td>
            <div ng-hide="laborClicked4">
                Rumor Spread about Sam and Jerry dating and they were mocked by other students.
                <a class="negate center-me" ng-click="tutLaborClick(4)" style="float: right;" title="Negate the corresponding action"> <!-- checkAnswer($index, $parent.$index, 'easy') -->
                  <i class="fa fa-ban"></i>
                </a>
            </div>
            <div ng-show="laborClicked4" class="action negated">
                Rumor does not spread about Sam and Jerry dating and they were mocked by other students.
            </div>
          </td>

          <tr>
            <td class="center-me"> ▼ </td>
          </tr>

          <td>
            <div ng-hide="laborClicked5">
              Sam and Jerry stopped going to school.
                <a class="negate center-me" ng-click="tutLaborClick(5)" style="float: right;" title="Negate the corresponding action"> <!-- checkAnswer($index, $parent.$index, 'easy') -->
                  <i class="fa fa-ban"></i>
                </a>
            </div>
            <div ng-show="laborClicked5" class="action negated">
                Sam and Jerry do not stop going to school.
            </div>
          </td>
        </table>
        <br>
      </div>

      <div class="tutorial-steps" ng-click="step5 = !step5">
        <span ng-show="!step5"> Show <b>Step 5</b> Solution </span>
        <span ng-show="step5"> <b>Step 5:</b> Objective Solution <br>
          Negate the causes from bottom to top. You stop negating the events when all actions do not violate the rule.
          The solution to the problem will be identified, by clicking on the show solution, once you negate all actions that violate the rule.<br>
          When clicking the "Show Solution" button, the solution will be shown beneath it.
        </span>
      </div>

      <div ng-show="step5">
        <br>
        <a ng-click="showSolution = !showSolution">
          <div class="check-button">
            <span ng-show="!showSolution"> Show Solution </span>
            <span ng-show="showSolution"> Hide Solution </span>
          </div>
        </a>

        <div ng-show="showSolution">
          <br>
          <table class="core-table" style="width: 95%">
            <tr>
              <th style="width: 20%">Solution</th>
              <td style="width: 80%">Clover shouldn’t have read Sam's private messages</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
