<div class="center">
  <div class="container">

	<div class="menu-button col-xs-12 col-sm-3">
      <a ui-sref="netsafe.malware">
      <img src="images/malware.png" style="width: 150px;">
      <br> <br>
      Malware </a>
    </div>

    <div class="menu-button col-xs-12 col-sm-3">
      <a ui-sref="netsafe.identity">
      <img src="images/identity-theft.png" style="width: 150px;">
      <br> <br>
      Identity Theft </a>
    </div>

    <div class="menu-button col-xs-12 col-sm-3">
      <a ui-sref="netsafe.spam">
      <img src="images/spam.png" style="width: 150px;">
      <br> <br>
      Spam </a>
    </div>

    <div class="menu-button col-xs-12 col-sm-3">
      <a ui-sref="netsafe.phishing">
      <img src="images/phishing.png" style="width: 150px;">
      <br> <br>
      Phishing </a>
    </div>

    <div class="space col-sm-12"></div>

    <div class="menu-button col-xs-12 col-sm-3">
      <a ui-sref="netsafe.pharming">
      <img src="images/pharming.png" style="width: 150px;">
      <br> <br>
      Pharming </a>
    </div>

    <div class="menu-button col-xs-12 col-sm-3">
      <a ui-sref="netsafe.rogue">
      <img src="images/rogue-security-software.png" style="width: 150px;">
      <br> <br>
      Rogue Security Software </a>
    </div>

    <div class="menu-button col-xs-12 col-sm-3">
      <a ui-sref="netsafe.prevention">
      <img src="images/Online-Peronal-Safety-and-Security-Assessment.png" style="width: 150px;">
      <br> <br>
      Cyberattack Prevention </a>
    </div>

    <div class="menu-button col-xs-12 col-sm-3">
      <a ui-sref="netsafe.activity">
      <img src="images/Online-Peronal-Safety-and-Security-Assessment.png" style="width: 150px;">
      <br> <br>
      Online Safety and Security Assessment </a>
    </div>

  </div>
</div>

<div class="help" ng-show="clicked">
  <div class="help-modal">
    <div class="help-header">
      Online Safety and Security
      <a class="close" ng-click="clickHelp()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Choose between the seven sub-topics to start your lesson!
    </div>
  </div>
</div>

<div class="help" ng-show="clickedTool">
  <div class="help-modal">
    <div class="help-header">
      Online Safety and Security
      <a class="close" ng-click="clickToolTip()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      You may start on the malware topic. Next, you may choose any of the six remaining topics. Afterwards, you may already start answering the online safety and security assessment.
      <br>
      You may also click the help button to see the definition and symptoms of malware.
    </div>
  </div>
</div>
