<div class="center">
  <div class="container">

	<div class="menu-button col-xs-12 col-sm-3">
      <img src="images/malware.png" style="width: 150px;">
      <br> <br>
      <a ui-sref="netsafe.malware"> Malware </a>
    </div>

    <div class="menu-button col-xs-12 col-sm-3">
      <img src="images/identity theft.png" style="width: 150px;">
      <br> <br>
      <a ui-sref="netsafe.identity"> Identity Theft </a>
    </div>

    <div class="menu-button col-xs-12 col-sm-3">
      <img src="images/spam.png" style="width: 150px;">
      <br> <br>
      <a ui-sref="netsafe.spam"> Spam </a>
    </div>

    <div class="menu-button col-xs-12 col-sm-3">
      <img src="images/phishing.png" style="width: 150px;">
      <br> <br>
      <a ui-sref="netsafe.phishing"> Phishing </a>
    </div>

    <div class="space col-sm-12"></div>

    <div class="menu-button col-xs-12 col-sm-4">
      <img src="images/pharming.png" style="width: 150px;">
      <br> <br>
      <a ui-sref="netsafe.pharming"> Pharming </a>
    </div>

    <div class="menu-button col-xs-12 col-sm-4">
      <img src="images/rogue security software.png" style="width: 150px;">
      <br> <br>
      <a ui-sref="netsafe.rogue"> Rogue Security Software </a>
    </div>

    <div class="menu-button col-xs-12 col-sm-4">
      <img src="images/Online Peronal Safety and Security Assessment.png" style="width: 150px;">
      <br> <br>
      <a ui-sref="netsafe.activity"> Online Safety and Security Assessment </a>
    </div>

  </div>
</div>

<div class="help" ng-show="clicked">
  <div class="help-modal">
    <div class="help-header">
      Online Safety and Security
      <a class="close" ng-click="clickHelp()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Choose between the seven sub-topics to start your lesson!
    </div>
  </div>
</div>
