<div class="header">
  Spam
</div>

<div class="center">
  <div class="container">
    <!-- FOR NATIVE APP -->
    <!-- <video controls="controls">
      <source src="videos/Spam.mp4" type="video/mp4">
    </video> -->

    <div class="embed-responsive embed-responsive-16by9">
      <youtube-video class="embed-responsive-item" video-url="spamVid" player-vars="playerVars"></youtube-video>
    </div>

    <!-- <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/tqTP-CI0yLM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div> -->

    <div id="footer">
      <button class="prev" ui-sref="netsafe.identity"> ◀︎ Identity Theft </button>
      <button class="next" ui-sref="netsafe.phishing"> Phishing ▶︎ </button>
    </div>

  </div>
</div>


<div class="help" ng-show="clicked">
  <div class="help-modal">
    <div class="help-header">
      <i class="fa fa-question-circle-o"></i> Spam
      <a class="close" ng-click="clickHelp()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Spam is flooding the internet with many copies of one message, with the sole purpose of forcing
      the message on people who would not want to receive such message. Often, it is for commercial
      advertising for products and get-rich-quick schemes. There is no particular threat to spam mails,
      however, they could be a source where the malware could come from.
    </div>
  </div>
</div>

<div class="help" ng-show="clickedTool">
  <div class="help-modal">
    <div class="help-header">
      <i class="fa fa-lightbulb-o"></i> Spam
      <a class="close" ng-click="clickToolTip()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Press the play button to play video on Spam.
      <br>
      You may also click the help button to see the definition and other information about spam.
      <br>
      At the bottom of the page, you may click the buttons to go back to the Identity theft page or proceed to Phishing.
    </div>
  </div>
</div>
