<div class="header">
  Spam
</div>

<div class="center">
  <div class="container">

	SPAM PAGE

  </div>
</div>


<div class="help" ng-show="clicked">
  <div class="help-modal">
    <div class="help-header">
      Spam
      <a class="close" ng-click="clickHelp()">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="help-content">
      Spam is flooding the internet with many copies of one message, with the sole purpose of forcing
      the message on people who would not want to receive such message. Often, it is for commercial
      advertising for products and get-rich-quick schemes. There is no particular threat to spam mails,
      however, they could be a source where the malware could come from.
    </div>
  </div>
</div>
